[2019-01-11 21:07] maccarro opened #1 "Access Request to rust-vmm"
GitHub Username: maccarro

[2019-01-14 02:01] yangzhon opened #2 "Access Request to rust-vmm"
Please add me into this organization,  thanks!
yang.zhong@intel.com

[2019-01-14 02:26] bjzhjing opened #3 "Access Request to rust-vmm"
GitHub Username: bjzhjing

Please add me to this project, I'm very interesting in this direction, Thanks!

[2019-01-14 08:49] sameo commented on #3
@bjzhjing Invitation sent.

[2019-01-14 08:49] #3 closed

[2019-01-14 08:50] sameo commented on #2
@yangzhon Invitation sent.

[2019-01-14 08:50] #2 closed

[2019-01-17 11:27] andreeaflorescu opened #4 "Repository/Crate Review Request"
### Repository Path
https://github.com/andreeaflorescu/kvm-bindings
### Short Description
Feature-wise this is a copy of [kvm_wrapper](https://github.com/rust-vmm/kvm_wrapper). The crate is now named kvm-bindings as the `-bindings` suffix seems to be commonly used for crates that export Rust FFI bindings.
### Notes
Travis CI is not enabled for this repository, but I will add it once we move it rus

[2019-01-17 14:43] aghecenco commented on #4
LGTM :+1:

[2019-01-17 16:12] aghecenco commented on #4
Can you add the nifty crates.io badge thingy for kvm-bindings? It's a bit late for kvm-wrapper as it's almost out the door.

Code snippet for README.md:

[code]

Result:

[![Crates.io](https://img.shields.io/crates/v/kvm-bindings.svg)](https://crates.io/crates/kvm-bindingsw)

[2019-01-18 14:11] yisun-git opened #5 "Access Request to rust-vmm"
GitHub Username: yisun-git

Hi,

I am from Intel and interesting to this project. May I join? Thanks!

BRs,
Sun Yi

[2019-01-21 03:13] dgreid commented on #4
LGTM too, we'll try to use 'bindings' consistently moving forward.

[2019-01-21 09:20] andreeaflorescu commented on #4
I'll go ahead and move the repository to rust-vmm. If people have more comments I can address them and create a new release.

[2019-01-21 10:38] andreeaflorescu commented on #4
Published to [crates.io](https://crates.io/crates/kvm-bindings)

[2019-01-21 10:38] #4 closed

[2019-01-24 07:08] xiaogr opened #6 "Access Request to rust-vmm"
GitHub Username: xiaoguangrong.eric@gmail.com

[2019-01-28 17:35] dianpopa opened #8 "Access Request to rust-vmm"
Please provide access.
GitHub Username: dianpopa

Thanks!

[2019-01-28 17:38] andreeaflorescu commented on #8
Invitation sent.

[2019-01-28 17:38] #8 closed

[2019-01-29 09:13] NotBad4U opened #9 "Access Request to rust-vmm"
GitHub Username: @NotBad4U
Hello :smile:,
I met @sameo during a Rust meetup and he mentioned the rust-vmm project. I would like to help on this project but I would need a bit of mentoring / pointing for `KVM/Virt` API stuff.
Currently, I'm a system developer at [CleverCloud](https://github.com/CleverCloud), where I use Rust as main language. I'm a contributor on [sozu](https://github.com/sozu-prox

[2019-01-29 09:38] andreeaflorescu commented on #9
Hey, I sent an invitation. We also have a [slack channel](https://join.slack.com/t/rust-vmm/shared_invite/enQtNTI3NDM2NjA5MzMzLTJiZjUxOGEwMTJkZDVkYTcxYjhjMWU3YzVhOGQ0M2Y5NmU5MzExMjg5NGE3NjlmNzNhZDlhMmY4ZjVhYTQ4ZmQ) that you can join.

I am not sure what are the best resources available for understanding KVM or Virt APIs. For me it works better if I read the code. You can take a look at the followi

[2019-01-29 09:59] NotBad4U commented on #9
Thanks !

[2019-01-29 10:05] sameo commented on #6
Invitation sent.

[2019-01-29 10:05] #6 closed

[2019-02-01 02:20] jiangliu opened #10 "Feature Request: remove duplicated code in binding crates"
There are much duplicated in binding crates generated from linux header files, so any plan to reduce duplicated code?

[2019-02-02 17:08] bonzini opened #11 "Please add me to the organization"
Thanks in advance!!

[2019-02-03 21:50] #11 closed

[2019-02-04 13:32] sameo commented on #9
@NotBad4U is now a member, closing the issue.

[2019-02-04 13:32] #9 closed

[2019-02-05 03:28] jiazhang0 opened #12 "Access Request to rust-vmm"
GitHub Username: jiazhang0

[2019-02-05 03:43] jbryce commented on #12
Invite sent

[2019-02-05 03:43] #12 closed

[2019-02-08 19:49] sboeuf opened #13 "vhost-user design"
We need a clear story on how `vhost-user` is going to be supported through rust-vmm crates.
There are three main areas which need to be addressed in order to get it working with current hypervisors (`crosvm` and `firecracker`):
- vhost-user protocol support
- VM memory sharing support
- virtio devices consuming those crates

### vhost-user protocol
There is some very nice work started by @jiangliu

[2019-02-08 19:52] dagrh commented on #13
I'm gently looking at using @jiangliu's crate for writing the daemon side of a virtio-fs daemon;  but it's pretty low down my list but I'll try and make some more time to look.

[2019-02-08 22:24] andreeaflorescu commented on #13
I would only have one mention. We should make sure that the memory-model crate is suitable for both CrosVM and Firecracker usecases. I will do some tests with the memory-model crate next week. I think @alexandruag had some concerns with the memfd. I'll let him chime in.

[2019-02-08 22:27] sboeuf commented on #13
@andreeaflorescu

Yes I agree with that, that's why I was mentioning we should erase what's in the repo, start from scratch, and submit PRs that everybody can look at.

[2019-02-08 22:40] andreeaflorescu opened #14 "Create a "must have list" for crates in rust-vmm"
From my experience, it is very hard to get the time to work on improvements on the code once you have a working solution. That's why I think we should aim on having crates in a good shape before publishing them on crates.io.

I am thinking about having the following as requirements before publishing the crate:
- [ ] High level documentation about the crate (what is it suppose to do, how can it be

[2019-02-08 22:44] andreeaflorescu commented on #14
Once we decide on the list, we should update the community readme to specify what are the requirements before publishing a crate.

[2019-02-08 22:45] andreeaflorescu opened #15 "Update community readme"
We should specify in the readme what rust-vmm is.

[2019-02-10 12:49] jiangliu commented on #13
I'm thinking about the relationship between vhostuser_rs and vhost in crosvm/firecracker. The crosVM and firecracker projects already have a kernel-based(ioctl) vhost implementation. And there are vhost drivers for net/vsock. So should we merge them into one unified crate with an architecture as below:
[net]          [blk]                                          [virtfs]          [vsock]
   |

[2019-02-11 08:36] andreeaflorescu commented on #13
It looks to me that with this architecture you are assuming that the backend for all virtio devices is a vhost. This is not the case in Firecracker as we use Tap devices as a backend for virtio-net. I can also look into this to see how we can accommodate backends that are not vhost. I am not sure how much the implementation changes when using vhost as backend, but one option would be to use Rust f

[2019-02-11 08:53] andreeaflorescu commented on #14
CC: @mcastelino @sameo @rbradford @jiangliu @zachreizner @sboeuf @dgreid

Can you point this issue to other people that might be interested?

[2019-02-11 11:13] sameo commented on #14
On integration tests, I think we should have a dedicated CI repository. A new crate will come with its own unit tests and should ideally add specific integration and functional tests into the CI repository. Any change to existing crates or adding new crates should trigger a new CI cycle, and it would be blocking the merge process.

Technically, all of this would be far simpler if we'd have one sin

[2019-02-11 12:37] andreeaflorescu commented on #14
I think the integration tests should be in the repository, while the CI logic should probably be shared by all crates.

[2019-02-11 12:38] andreeaflorescu opened #16 "memory-model design discussion"

[2019-02-11 13:02] jiangliu commented on #16
Hi all,
	I have posted the first version of memory-model crate under rust-vmm/memory-model, which breaks the repository inclusion process of the rust-vmm community. So I have created a personal GitHub repository (https://github.com/jiangliu/memory-model) for v2 and the rust-vmm/memory-model repository will be deleted soon. Sorry for the inconvenience!
	The main change from v1 to v2 is the introduc

[2019-02-11 13:12] bonzini commented on #16
This is based on commit ab37cf3324310b074869680b3a471ca436f51a68 at jiangliu/memory-model.

A memory model crate is certainly a very good starting point for rust-vmm, but it shouldn't include the implementation of the backend. Instead, for rust-vmm we should focus on defining common traits that can be used by any VMM.

In this light, GuestMemory is composed of two parts that are completely indepen

[2019-02-11 13:48] sameo opened #17 "Document the crate addition process"
Document how contributors can add a new crate to the rust-vmm organization

[2019-02-11 14:32] jiangliu commented on #16
@bonzini
So the key idea is to build a layer architecture as [vm_mem_accessor] -> [vm_mem_access_mechanism] -> [vm_mem_content_backend]. The vm_mem_accessor layer defines interfaces to access vm memory, and all clients such as VMMs, virtio drivers and vhost-user drivers only have dependency on this layer. The vm_mem_access_mechanism layer implements the mechanism to access vm memory by means of mm

[2019-02-11 14:38] sameo commented on #14
So we'd expect any crate to provide a set of integration tests that would comply with the CI logic, i.e. should follow a sort of RPC that the CI could call into and get formatted result out of it. That should be doable and would make the crates more self contained for sure.

[2019-02-11 14:40] sameo commented on #14
Would *any* license be acceptable?

[2019-02-11 14:47] andreeaflorescu commented on #14
I find it super easy with pytest as it times each integration tests and pretty prints everything. Example from the kvm ioctls crate that I am working on:
[code]

We can have a custom directory for integration tests that each crate must have. We can use `integration_tests` because `tests` is used by rust to find [integration tests](https://doc.rust-lang.org/book/ch11-03-test-organization.html#the-t

[2019-02-11 15:09] jiangliu commented on #13
That may not be true.
Per my understanding, the relationship among device, virtio and vhost looks like this:
![image](https://user-images.githubusercontent.com/1931516/52572072-f1795480-2e51-11e9-9180-e6469f95cd34.png)

So vhost may be positioned as an accelerator for virtio devices.

[2019-02-11 15:50] #17 closed

[2019-02-11 16:03] sboeuf commented on #13
All devices are virtio devices, since they all uses virtqueues to communicate with the driver in the guest. But the main difference between all those devices is the backend, and we can classify the backends into 2 categories, `vhost` or `non-vhost`. And in case of vhost, we can have several sub-categories such as `vhost-kernel` or `vhost-user`.
Another aspect of virtio devices, that is completely

[2019-02-11 16:11] jiangliu commented on #13
Exactly!
So I propose to combine vhost-user and vhost-kernel into a unified vhost crate and provide a common interface trait for them.

[2019-02-11 16:14] sboeuf commented on #13
SGTM

[2019-02-11 17:00] bonzini commented on #16
Right, which in my description are `Bytes<GuestAddress>`, `MemoryMap` and `Bytes<usize>`.  All three are traits so you're free to plug in whatever implementation you want.

Yes. More precisely memory-model should provide the traits for all three layers. It turns out that:

* two layers are just specializations of the same "byte-level access" trait

* what you called vm_mem_accessor (`Bytes<GuestAd

[2019-02-11 17:44] andreeaflorescu commented on #16
@alexandruag @dhrgit can you also take a look at this?

[2019-02-11 17:47] dagrh commented on #13
a good chunk of vhost user is packing/unpacking the messages on the vhost-user socket and doing something useful with them 9Like mapping memory); which I assume is something that none of the other crates cases care about.

[2019-02-14 13:26] sameo opened #19 "Crate Addition Request: vm-virtio"
## Crate Name

The `virtio` name is already taken on [crates.io](https://crates.io/crates/virtio).  The crate is unmaintained and really incomplete.

Instead of `virtio`, we could use:

* `virtio-ng`
* `virtio-vmm`
* Send your suggestion...

## Short Description

This crate would provide:

* A `VirtioDevice` trait
* Implementations of `VirtioDevice` for the block, net, rng, ballon virtio devices
*

[2019-02-14 13:44] andreeaflorescu commented on #19
virtio-devices looks free. we should indeed reserve the names.

[2019-02-14 13:52] sameo commented on #19
cc @dgreid @jiangliu @dhrgit

[2019-02-14 13:52] jiangliu opened #20 "Crate Addition Request: vhost"
## Crate Name
vhost or vhost_rs

## Short Description
The crate would provide:
- A Vhost trait
- A VhostUserMaster trait for vhost-user master endpoints
- A VhostUserSlave trait for vhost-user slave endpoints
- An implementation of the Vhost trait based on linux kernel vhost drivers
- An implementation of the Vhost trait based on the vhost-user protocol
- An implementation of the VhostUserMaster t

[2019-02-14 13:53] sameo commented on #19
I like `virtio-devices`.

[2019-02-14 13:55] andreeaflorescu commented on #20
If vhost is available, we can use vhost. Although I wouldn't name it vhost if we plan to add other backends there as well.

[2019-02-14 13:57] jiangliu commented on #19
virtio-devices: +1

[2019-02-14 14:18] jiangliu commented on #20
vhost is still available currently.
Any better suggestions?
@sboeuf @dagrh

[2019-02-14 14:20] sameo commented on #20
`vhost-backend` ?

[2019-02-14 15:30] dagrh commented on #19
Do we get one crate with some different sections in it or multiple crates; for example do we have one that has just all the constant/structure/interface definitions in?

[2019-02-14 15:40] andreeaflorescu commented on #19
We will probably have virtio-bindings or something of that sort for the kernel virtio headers. From my point of view the separation will come from the virtio device implementation vs the backends that you can use for those devices (the discussion about the backends is here: https://github.com/rust-vmm/community/issues/20).

[2019-02-14 15:53] andreeaflorescu commented on #20
Are we going to have only vhost based backends there? I am not sure what would be the better separation of concerns in this case.

[2019-02-14 16:01] jiangliu commented on #19
It would be great if the virtio-binding includes binding for vhost too, so the dependency relationship among virtio-device, vhost-backend and virtio-binding will be easy to maintain.

[2019-02-14 16:07] sboeuf commented on #20
@jiangliu as discussed earlier, the whole architecture sounds good to me, but do we want everything in one single crate? Or do we want each implementation (vhost-kernel, vhost-user) of the vhost trait to be into separate crates?

[2019-02-14 16:10] jiangliu commented on #20
How about one crate with rust features for vhost-kern, vhost-user-master and vhost-user-slave? Otherwise we may have too many crates under the rust-vmm project.

[2019-02-14 16:17] sameo commented on #20
If we can manage that with features, I think it would make more sense to have one single crate.

[2019-02-14 16:19] andreeaflorescu commented on #19
@jiangliu how would it make it easier?

[2019-02-14 16:20] andreeaflorescu commented on #20
One crate for vhost related backends (user, slave, kernel) and another one miscellaneous :))?

[2019-02-14 16:21] jiangliu commented on #20
I think the vhost crate should aim to build the bridge between the virtio-devices crate and vhost backend drivers, such as vhost-vsock, dpdk-ovs and spdk etc. It shouldn’t focus on implementing vhost backend drivers.

[2019-02-14 16:35] jiangliu commented on #19
Just to maintain one less crate:) A dedicated vhost-binding crate should be OK too.
Do you prefer a dedicated vhost-binding crate?

[2019-02-14 16:38] jiangliu commented on #10
Those duplicated codes are mainly inline functions, typedefs and structure definitions.
Seems not a big deal, so close the issue.

[2019-02-14 16:38] #10 closed

[2019-02-14 16:45] andreeaflorescu commented on #19
I don't feel strongly for having it as a separate crate. I just thought it makes more sense to have 2 bindings for virtio-devices and vhost since we are going to have 2 crates to use those. On the other hand I wouldn't want to pollute rust-vmm with one binding crate for each feature as long as it makes sense to have them in a single crate. I really don't have a strong argument. Either way is good.

[2019-02-15 10:40] sameo commented on #20
Agreed. This is a crate that we will use to set the vmm virtio devices **vhost** backend endpoint, be it in kernel (vhost) or in userspace (vhost-user). The actual backend is not going to be part of this crate.

So to summarize: `vhost` as a name is fine with me.

[2019-02-15 14:00] andreeaflorescu opened #21 "Crate Addition: kvm-ioctls"
## Crate Name: kvm-ioctls

The `kvm` name is taken. The proposal is to use `kvm-ioctls` instead.

## Short Description
The `kvm-ioctls` crate will offer wrappers over the KVM ioctls.
KVM ioctls are of three types:
- system ioctls -> grouped in the implementation of the `Kvm` structure
- VM ioctls-> grouped in the implementation of the `Vm` structure
- vCPU ioctls -> grouped in the implementation o

[2019-02-15 14:46] sboeuf commented on #20
Sounds good to me :+1:

[2019-02-15 15:09] sameo commented on #21
LGTM

[2019-02-15 16:01] sameo opened #22 "Crate Addition Request: memory-model"
## Crate Name

`memory-model`

## Short Description

Trying to summarize discussions at #16:

This crate will fundamentally allow for accessing guest memory and translating guest addresses into host memory mapping.

The crate APIs will allow for writing to and reading from the guest memory.
This API should be able to handle raw slices but also `DataInit` types, i.e. types that can be safely initia

[2019-02-15 16:10] sameo commented on #22
@jiangliu I'm creating that issue so that we can create a `memory-model` repo and you can send your initial code drop there. Discussing through a separate issue makes it a little hard to follow.

[2019-02-15 16:11] jiangliu commented on #22
Thanks, sameo! Will try implement a PoC by following @bonzini 's suggestion.

[2019-02-15 16:18] sameo commented on #22
Thanks @jiangliu

[2019-02-15 16:35] sameo opened #23 "Crate Addition Request: acpi"
## Crate Name

`acpi` is taken so I propose `acpi-tables`

## Short Description

This crate will provide a set of APIs for generating ACPI tables for the guest platform.

## Why is this crate relevant to the rust-vmm project?

In order for `rust-vmm` based VMMs to boot regular, full blown cloud images, they should build and load ACPI tables in the guest memory.

[2019-02-15 17:55] sameo opened #24 "Crate Addition Request: linux-loader"
## Crate Name

`linux-loader`

## Short Description

* Parsing and loading vmlinux (raw ELF image) and bzImage images
* Linux command line parsing and generation
* Definitions and helpers for the Linux boot protocol, multiboot and PVH headers.

## Why is this crate relevant to the rust-vmm project?

Direct kernel boot but this could also be consumed by e.g. rust written bootloaders.

[2019-02-15 17:59] jiangliu commented on #24
Will the loader parse ELF sections? Or will it only parse ELF program headers?

[2019-02-16 13:16] yterrencelau opened #25 "Access Request to rust-vmm"
GitHub Username: yterrencelau

[2019-02-16 13:16] #25 closed

[2019-02-17 06:55] bonzini commented on #19
Having a crate for virtio *devices* would first require defining a trait for devices (such as [devices::bus](https://github.com/firecracker-microvm/firecracker/blob/master/devices/src/bus.rs)), and I think that requires a separate design discussion.

However the crate could start porting to rust_vmm the [devices::virtio::queue](https://github.com/firecracker-microvm/firecracker/blob/master/devices

[2019-02-17 07:04] bonzini commented on #24
This should also include structs and builders for the Linux boot protocol header (https://www.kernel.org/doc/Documentation/x86/boot.txt), multiboot header, PVH header.

[2019-02-17 09:26] jiangliu commented on #19
Good suggestion to build a crate for device model.
The device model in crosvm and firecracker is not so strong, enhancements may be needed to support qemu and Kata container.

[2019-02-17 17:58] aghecenco commented on #21
LGTM

[2019-02-17 22:54] sameo commented on #24
Only ELF program headers.

[2019-02-17 22:54] sameo commented on #24
Indeed, yes.

[2019-02-18 17:13] andreeaflorescu commented on #24
There are lots of people asking for bzimage support in Firecracker. Would this be a good crate for adding such support as well?

[2019-02-18 19:35] bonzini commented on #24
Yes, it would be exactly the place to provide the support code and
especially data structures for that!

Il lun 18 feb 2019, 18:13 Andreea Florescu <notifications@github.com> ha
scritto:

[2019-02-18 19:38] andreeaflorescu commented on #24
@bonzini totally irrelevant to the conversation, but I find it funny that you have you email client (maybe) in Italian 😂

[2019-02-19 09:08] sameo commented on #24
Edited the crate description according to the comments.

[2019-02-19 17:03] jiangliu commented on #21
LGTM

[2019-02-19 17:07] sboeuf commented on #21
LGTM

[2019-02-19 17:17] sboeuf commented on #20
LGTM

@sameo @andreeaflorescu @zachreizner @aghecenco PTAL

[2019-02-19 17:20] sboeuf commented on #22
LGTM

@andreeaflorescu @zachreizner @aghecenco PTAL

[2019-02-19 17:45] andreeaflorescu commented on #20
Lgtm as well.

[2019-02-19 17:46] andreeaflorescu commented on #22
Can we do a bit of brainstorming for the name of this crate? In the context of crates.io memory-model doesn't say much in my opinion.

[2019-02-19 17:54] sboeuf commented on #22
True, maybe `vmm-memory-model` would be more appropriate.

[2019-02-19 18:00] jiangliu commented on #22
This crate deals with virtual machine memory, so how about vm-mem or vmmem?

[2019-02-19 18:02] sboeuf commented on #22
`vm-memory`?

[2019-02-19 18:13] bonzini commented on #16
One issue regarding testing: even if we can have a reference implementation in a different “example” crate, or we need an implementation of the traits to test the whole thing.

What does everyone think of implementing `Bytes<usize>` for `&mut [T]` inside this crate? This would replace `MemoryMapping` in the tests.

[2019-02-19 23:22] bonzini commented on #22
`vmm-memaccess`?

[2019-02-20 08:38] sameo commented on #21
@andreeaflorescu Repo created at rust-vmm/kvm-ioctls. I'm closing that issue now.

[2019-02-20 08:38] #21 closed

[2019-02-20 08:41] sameo commented on #20
https://github.com/rust-vmm/vhost created, closing that issue.

[2019-02-20 08:41] #20 closed

[2019-02-20 08:47] sameo commented on #22
`vm-memory` is quite descriptive imho.

[2019-02-20 12:28] alexandruag commented on #16
Hi everyone,

Apologies for joining the discussion so late. I really like @bonzini's point of view; it makes sense to have `memory_model` expose an interface, and then also have some sort of default/reference implementation in another crate. Here are just a few remarks/questions I kinda have on this topic.

The implementation of `GuestMemory` in CrosmVM (and by extension Firecracker) exhibits inte

[2019-02-20 16:01] jiangliu commented on #16
How about rethink about the AddressSpace abstraction?
I tried to solve above issue by introducing the AddressSpace abstraction, which contains group of guest memory regions with different types/properties. Then GuestMemory is used to map partial or full of the regions  in AddressSpace into current process. By this way, we may build a GuestMemory object for device, another GuestMemory object for th

[2019-02-20 18:21] bonzini commented on #16
I suppose it is sound because all reads/writes are for types that are `DataInit`? If so I guess it's okay, even if you lose a little bit in safety. Most guest memory accesses are atomic-like anyway. A `Mutex` would make no sense when the guest can anyway perform accesses without taking it.

Regarding GuestMemoryRegion, instead I think that `Region` could become a generic argument `MemoryMap<R>` in

[2019-02-20 18:30] sameo commented on #14
About licensing: The proposal would be to strongly recommend Apache 2. Or at least an OSI approved license.

[2019-02-25 02:58] chao-p opened #26 "Access Request to rust-vmm"
GitHub Username: chao-p

Thanks.

[2019-02-25 09:01] sameo commented on #26
@chao-p Invite sent, welcome!

[2019-02-25 09:02] #26 closed

[2019-02-25 10:40] jiangliu commented on #22
Design documentation for the memory-model crate (https://github.com/jiangliu/memory-model/tree/v2)
# memory-model
A library to manage and access virtual machine's physical memory.

The `memory-model` crate aims to provide a set of stable traits for consumers to access virtual machine's physical memory. Based on these common traits, typical consumers like hypervisors, virtio backend drivers, vhost-

[2019-02-25 10:49] jiangliu commented on #16
Hi all,
   I have posted the design doc at https://github.com/rust-vmm/community/issues/22 and you may access the latest code at my personal github repository: https://github.com/jiangliu/memory-model/tree/v2
thanks,
Gerry

[2019-02-25 18:19] bonzini commented on #22
Nice! I tried to make some more simplifications at https://github.com/jiangliu/memory-model/tree/v2

In particular, MmapRegion gets its `Bytes<usize>` implementation directly from `VolatileMemory`, and I removed completely `AddressSpace` and `AddressRegion` for now.

I tried also moving GuestMemoryMmap's `Bytes<GuestAddress>` implementation to generic code, but I couldn't do it because of the gene

[2019-02-25 18:22] bonzini commented on #16
Thanks! Let's move the discussion there. @andreeaflorescu can you close this one?

[2019-02-26 06:10] jiangliu commented on #22
Thanks for quick review:)
I feel there's still one fundamental decision we need to make.
Currently qemu and firecracker maps all guest's memory into current process and kvm handles EPT faults by walking GPA->HVA->GPA. With vhost-user drivers, there's a requirement to limit access to partial of guest's memory due to security concerns.
One step further, for a hypervisor dedicated to server serverles

[2019-02-26 06:33] jiangliu commented on #22
Please refer to https://github.com/rust-vmm/community/issues/16 for previous discussions.

[2019-02-26 10:57] bonzini commented on #22
I have no objections to providing both, however I would start with a restricted implementation until it is clear what is common between the various users.

In fact I don't have any problem with adding more information to `AddressRegion` or `GuestMemoryRegion`. All I am doing in my refactoring is making sure that the interface is as simple as possible, and the implementation is as generic as possib

[2019-02-26 11:06] jiangliu commented on #22
Great, so let's start small and add needed interfaces on demand.

Seems reasonable because these traits have more generic usage scenarios than GuestMemory.

[2019-02-26 11:10] bonzini opened #27 "Crate Addition Request: volatile-memory"
## Crate Name
volatile-memory

## Short Description
The volatile-memory crate provides abstractions for memory that can be modified at the same time by the hypervisor and the guest. It includes the `Bytes`, `DataInit` and `VolatileMemory` traits, and also tools to handle endian representations of integer types.

## Why is this crate relevant to the rust-vmm project?
This crate is extracted from `m

[2019-02-26 11:10] bonzini commented on #27
The ideas behind the proposal can be seen at https://github.com/bonzini/memory-model/tree/v2

[2019-02-26 11:22] jiangliu commented on #27
+1
I would be helpful to extract out these common memory access traits.

[2019-02-26 14:11] sameo opened #28 "Crate Addition Request: libc-utils"
## Crate Name

`libc-utils`

## Short Description

A collection of modules that essentially provide helpers and utilities on top of the `libc` crate:

* `errno`
* `fork`
* `poll`
* `signal`
* `ioctl`
* `timerfd`
* `eventfd`
* `syslog`
* `terminal`

## Why is this crate relevant to the rust-vmm project?

Although this crate could be used by many projects not related to VMMs or virtualization at all

[2019-02-26 14:17] jiangliu commented on #28
How about adding support of memfd?

[2019-02-26 14:18] sameo commented on #28
@jiangliu memfd would belong there as well

[2019-02-26 14:25] dagrh commented on #28
* Samuel Ortiz (notifications@github.com) wrote:

Doesn't the nix crate have this stuff already?

IMHO if it's general stuff then we should contribute to the
libc/nix/whatever crates as needed rather than spinning our own.

Dave

--
Dr. David Alan Gilbert / dgilbert@redhat.com / Manchester, UK

[2019-02-26 14:47] #16 closed

[2019-02-26 16:37] jiangliu commented on #27
Seems data_init.rs is missing from https://github.com/bonzini/memory-model/tree/v2

[2019-02-26 17:57] bonzini commented on #27
Nope, this won't work due to

    impl<T: GuestMemory> Bytes<GuestAddress> for T {
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ type parameter `T` must be used as the type parameter for some local type

:(

[2019-02-26 17:57] #27 closed

[2019-02-26 18:13] dagrh commented on #27
Why have Address and AddressValue got different subsets of Ord/PartialOrd - I suspect if you've got Ord you don't need PartialOrd; also PartialOrd says it r
equiers PartialEq; similarly why has AddressValue got Add/Sub but Address hasn't?

in volatile_memory I wonder whether the region_end checks work where offset+count=2^64 - it feels in most of the uses we want them to, but it feels like reg
ion

[2019-02-27 07:34] jiangliu commented on #27
Good point, needs to clean up the super traits.
For Add/Sub, it’s due to that we need to use +/- operators on AddressValue but doesn’t support +/- operators on Address.
Current design of Address trait is:
1) does not support operators
2) with an exception of the special cases: Address BitAnd/BitOr Address::Value

Careful audit is needed about overflowing cases once we reach agreements about the in

[2019-02-27 11:55] rbradford opened #29 "New Component: hypervisor-firmware"
### Name

hypervisor-firmware

### Purpose

This component is an ELF binary (compatible with the vmlinux loading convention used by the linux-loader crate) that can load a guest operating system from the guest image without host involvement. This allows control of the kernel that is booted to be under the control of the customer.

Currently it supports loading a bzImage, initrd & commandline from

[2019-02-27 20:33] rn commented on #29
This looks like quite a chunky component. Is the intention to eventually break this up? For example, there is a proposed [`linux-loader`](https://github.com/rust-vmm/community/issues/24) component which seems to have some overlap with the bzImage loader you mention. Also a FAT32 filesystem implementation might be a useful separate component.

[2019-02-27 23:42] sameo commented on #28
After looking at `nix`, I think in some cases it does have roughly what we need, in other cases it does not. Overall, I find this crate to be very large and in some cases complex for what we're trying to achieve. We need a small subset of `nix` and I feel this is a case where we may prefer to have our own smaller implementation than add one more, fairly large dependency.

[2019-02-28 06:53] bjzhjing commented on #29
@rbradford I'm currently working on linux-loader for bzImage, but from the above description, it seems that the hypervisor-firmware covers the loader work for bzImage,  is linux-loader still in need?

[2019-02-28 09:31] rn commented on #29
I think we need a standalone loader, not all VMs will boot via the firmware method. Ideally `hypervisor-firmware` would re-use `linux-loader` for bzImage once available.

[2019-02-28 09:42] jiangliu commented on #29
Hypervisor-firmware seems a little heavy, split it into smaller crates would be preferred:)
But we do expect a loader with capability to parse kernel sections other than parsing the program headers.

[2019-02-28 10:28] rbradford commented on #29
It's not the same thing. The linux-loader crate is for loading the kernel fully under the control of the host, for .e.g. the container use-case where the customer does not get full control of their operating system. This component is instead loaded by the linux-loader and then running within the KVM environment can then load the guest kernel. This allows for use-cases that are more traditional VM

[2019-02-28 10:41] jiangliu commented on #22
Hi buddies,
Paolo and I have cooperated to shape out version 2 of the memory-model crate, you may access it at my personal repository at https://github.com/jiangliu/memory-model/tree/v2. Please help to review it and give your feedbacks. If the overall design is OK, please help to create repository `vm-memory` under project rust-vmm then we could send out PRs.

Note: as we have discussed, the 'memo

[2019-02-28 11:29] rbradford commented on #29
The challenge with this proposed reuse is the environment they run in is very different. Running from within the guest means there is no std and the code is very tailored to the environment (own filesystem implementation, etc)

Of course once the code is published maybe we see ways to reuse/split the code.

[2019-02-28 13:08] liujing2 commented on #28
@sameo fork might only be created by crosvm now, and I found all the functions in fork.rs are not used, expect the #[test] inside. Do we still need fork crate?

[2019-02-28 14:53] rn commented on #29
@rbradford thanks for clarifying, I think I've misunderstood how this component would be used.

[2019-02-28 16:58] sboeuf commented on #22
@jiangliu This looks very good! I am looking forward to the future pull requests on the brand new `vm-memory` repo :)

[2019-03-03 19:13] sameo commented on #28
@liujing2 If neither crosvm nor FC use it, then we should not add it for now.

[2019-03-07 12:19] aylei opened #30 "Access Request to rust-vmm"
GitHub Username: aylei
Thanks!

[2019-03-08 10:14] sameo commented on #30
Invite sent.

[2019-03-08 10:14] #30 closed

[2019-03-08 14:26] yisun-git opened #31 "CPU model"
## Crate Name
'cpu-model'

## Short Description
A crate to provide a generic framework which has standard interfaces and flexible mechanism to support customized CPU models.

## Why is this crate relevant to the rust-vmm project?
Customized CPU model is necessary because of below reasons.
1. Avoid CPU hardware vulnerabilities.
2. Keep stable guest ABI.
3. Hard requirement for live migration.

[2019-03-11 11:26] sameo commented on #28
During last week's (03/06) call, we had a discussion as to whether we want to split `sys_utils` into logically separated crates or not.
The split might cause more issues than advantages, so we may want to start with one single crate, on a single repo, and eventually separate it into finer grain crates (Still from one single repo) if there's an actual reason to do so. However I propose we use a les

[2019-03-11 17:16] bIgBV opened #32 "Access Request to rust-vmm"
GitHub Username: bIgBV

[2019-03-11 17:22] zachreizner commented on #28
A single crate would be the least risky option in my opinion.
As far as naming goes, I think `sys_util` (with or without `s`) is fine. The only truly vmm specific parts (`kvm`, `kvm-sys`) are part of a different crate already. On the other hand, prefixing all our crates with `vmm_` does give our crates a certain cohesiveness that could be appealing. For example, it's clear all the `gfx_` crates ar

[2019-03-11 17:50] andreeaflorescu commented on #28
I am having serious difficulties in naming that crate or providing any feedback for the name because I think it does a lot of things. So any name is fine with me.

But I would insist on not publishing it to crates.io unless we truly need to because we cannot for example publish the `virtio-devices` crate as it will depend on it.

[2019-03-12 04:38] chao-p opened #33 "Crate Addition: vm-device"
## Crate Name
vm-device

## Short Description
vm-device services as a base crate for concrete device crate(s) in rust-vmm. It focuses on defining common traits that can/should be used by any device implementation as well as providing unified interfaces for rest of the rust-vmm code that works on device but does not necessarily to know the implementation details of the device.

## Why is this crate

[2019-03-12 06:32] liujing2 commented on #33
@chao-p  Yep, I also did some investigation on the devices crate. Bus, pure pci, virtio-common for both pci and mmio are the first step I think, and next, we add legacy, virtio-block, virtio-net, etc. as the real devices into the crate for the second step.

[2019-03-12 06:34] liujing2 commented on #19
@sameo Are we going to include all the device related into one crate? Instead of one crate for common codes like Bus, PCI and another one crate for real devices implementation.

[2019-03-13 07:05] juntian opened #34 "Access Request to rust-vmm"
GitHub Username: juntian

[2019-03-13 08:03] MaciekBielski opened #35 "Access Request to rust-vmm"
GitHub Username: MaciekBielski

[2019-03-13 08:53] andreeaflorescu commented on #35
Invitation sent. Welcome!

[2019-03-13 08:53] #35 closed

[2019-03-13 08:54] andreeaflorescu commented on #34
Invitation sent. Welcome!

[2019-03-13 08:54] #34 closed

[2019-03-13 10:28] liujing2 opened #36 "Access Request to rust-vmm"
GitHub Username: liujing2

[2019-03-13 18:21] sameo commented on #32
Invite sent.

[2019-03-13 18:21] #32 closed

[2019-03-13 18:21] sameo commented on #36
Invite sent.

[2019-03-13 18:21] #36 closed

[2019-03-13 19:11] sameo commented on #33
To be a little more concrete I think this should provide:

### Device trait

To start simple, I think our device trait could look like:

[code]
Then we can expand it to support the Firecracker and crosvm uses cases through further PRs.

#### Device traits implementations for "legacy"/ioport based devices

Initially we could have reference implementations of the `Device` trait for the Serial, keybo

[2019-03-14 06:13] sameo commented on #28
I agree. And that's the main reason why I was proposing this prefix. As you said there's nothing vmm specific in this crate.

[2019-03-14 06:27] sameo commented on #28
@andreeaflorescu

The `devices` and `virtio-devices` crates only need `sys_util` for the `EventFd` implementation. The `linux-loader` crate will need it for the `struct_util` wrapper, but since it's the only user of that part of `sys_util` we should probably move it to `linux_loader` instead.

So we may be able to live without publishing it to crates.io in the short term.

[2019-03-14 07:52] stefano-garzarella opened #37 "Access Request to rust-vmm"
GitHub Username: stefano-garzarella

[2019-03-14 08:13] richardwyang opened #38 "Crate Addition Request: nvdimm"
## Crate Name

nvdimm

## Short Description

Non-volatile memory is memory that retains its contents even when electrical power is removed, for example from an unexpected power loss, system crash, or normal shutdown.

## Why is this crate relevant to the rust-vmm project?

This provides rust-vmm the capability to use nvdimm devices.

[2019-03-14 08:15] jiangliu commented on #28
The vhost crate plans to replace nix crate with sys_utils, which uses Unix Domain Socket to pass file descriptor among processes.

[2019-03-14 08:19] sameo commented on #28
@liujing2 Could we please do that?

[2019-03-14 08:20] sameo commented on #37
Invite sent.

[2019-03-14 08:20] #37 closed

[2019-03-14 09:42] sameo commented on #28
@zachreizner @andreeaflorescu @jiangliu I'd like to go ahead and create a `vmm-sys-util` repo to host this crate. It seems we have some sort of agreement on having one crate at least.
Any last minute disagreement?

[2019-03-15 02:22] liujing2 commented on #28
@sameo  Sure, I'll take a look later.

[2019-03-15 03:11] yangzhon commented on #29
@rbradford @sameo

Do you have plan to implement patching ACPI table in this firmware ? Since we need support ACPI crates and send those ACPI tables to guest kernel. If your firmware does not handle this, we need implement patching ACPI table in VMM side. thanks!

[2019-03-15 09:21] andreeaflorescu commented on #28
I guess we can go ahead and create the repository. There's no reason to block on this. We can rename it later if needed.

[2019-03-18 06:04] zyfjeff opened #39 "Access Request to rust-vmm"
GitHub Username: zyfjeff

[2019-03-18 06:56] sameo commented on #39
Invite sent.

[2019-03-18 06:56] #39 closed

[2019-03-18 16:34] jennymankin opened #40 "Crate Addition Request: vmm vcpu"
## Crate Name

`vmm-vcpu`

## Short Description

A crate to provide a hypervisor-agnostic interface to common Virtual-CPU functionality

## Why is this crate relevant to the rust-vmm project?

## Why is this crate relevant to the rust-vmm project?

Regardless of hypervisor, container technologies utilize a virtual CPU, and the functions of a VCPU tend to be shared across hypervisors used. For exam

[2019-03-18 16:39] jennymankin opened #41 "Crate Addition Request: arch"
## Crate Name
`arch` (currently) or `vmm-arch` (to relate back to the rust-vmm project)

## Short Description

A crate to provide a hypervisor-agnostic interface to the existing `arch` crate currently used by crosvm/Firecracker, and parts of which are used in libwhp.

## Why is this crate relevant to the rust-vmm project?

The functionality provided by the `arch` crate is shared across multiple pr

[2019-03-18 17:23] bonzini commented on #40
I like the idea of exposing a simple hypervisor-agnostic API that can start as just "pub use" and can later migrate to marshaling/unmarshaling between hypervisor-specific and structs and generic ones.

I think we should have fine-grained traits and make it possible to compile them out.

[2019-03-19 01:29] jennymankin commented on #40
Thank you for the feedback. I like your suggestion on conditional-compilation of fine-grained traits between hypervisor versions.

Regarding your point on "pub use", are you referring to the use of "pub use" to expose data structures in the design document example above? (That is, with kvm_binding data structures exposed via "pub use", and kvm-related code using the data structures directly and WH

[2019-03-19 01:52] ericho commented on #14
A couple of years ago the Rust community had an initiative called [Rust libz blitz](https://blog.rust-lang.org/2017/05/05/libz-blitz.html) which consisted on verify a checklist of requirements that a crate should have, like this [API guidelines](https://rust-lang-nursery.github.io/api-guidelines/), documentation and examples.

Maybe the whole checklist is too much for an early stage but it might h

[2019-03-19 05:50] yisun-git commented on #40
Like what I replied to Paolo in rust-vmm mail list, I have similar idea as yours to implement hypervisor agnostic vcpu framework. My idea is to abstract a "hypervisor" trait and implement it for KVM/HyperV/etc. Vcpu calls the common interfaces. Based on that, I will implement hypervisor agnostic cpu-model to support customized cpu models.

As our ideas are similar, I think we can work together to

[2019-03-19 06:09] sameo commented on #28
@andreeaflorescu @zachreizner vmm-sys-util is created.

@liujing2 Could you please send your initial PR against that new repo?

[2019-03-20 02:03] jennymankin commented on #40
Hi @yisun-git , I agree, the ideas are similar so it would be great to work together. I am interested in understanding more about your proposed implementation, particularly if it would provide a more natural approach.  The modular design I envision would have a VMM crate calling the (abstracted) functions of the VCPU trait (rather than the other way around), but perhaps I am also stuck on what a V

[2019-03-20 08:00] liujing2 commented on #28
@sameo No problem. Let me send it from my repo.

[2019-03-20 16:49] andreeaflorescu opened #42 "Repository Addition Request - rust-vmm-dev-container"
## Repository-name: dev-container (or rust-vmm-dev-container)

## Short Description
Container with all dependencies required for running integration tests for the rust-vmm crate.

## Why is this crate relevant to the rust-vmm project?
- Deploy it as part of our CI to manage dependencies across multiple platforms
- It can also be used for development to test the code before submitting PRs in the sa

[2019-03-21 15:14] chao-p commented on #33
Basing on above suggestion from Samuel, we did some experiment and after that we have a updated and slightly different design.

The major motivation for this moving comes from some situations we observed for a device:

- A single device can have multiple PIO/MMIO ranges, e.g. PCI can have multiple BARs
- A single device can have both PIO and MMIO range, again, PCI device is an example
- Not all re

[2019-03-22 07:39] ChrisMacNaughton opened #43 "Access Request to rust-vmm"
GitHub Username: ChrisMacNaughton

[2019-03-26 08:31] petrutlucian94 commented on #33
To keep it simple and stick with the current interfaces, one idea would be to just register each of those ranges separately, basically having multiple references to the same device in the bus device tree.

[2019-03-26 08:43] sameo commented on #43
Invite sent.

[2019-03-26 08:43] #43 closed

[2019-03-26 09:45] ChrisMacNaughton commented on #43
Thanks!

[2019-03-26 13:23] bonzini commented on #29
Any reason not to use uBoot for this instead? It already supports a minimal UEFI runtime, and can be loaded directly from the reset vector.

[2019-03-26 13:25] chao-p commented on #33
Exactly this works with current Firecracker or CrosVM. To me, the existing PIO/MMIO bus is kind of ‘low-level’ thing and not the best suitable thing to represent the bus in a device tree. The ‘high-level’ bus can be a real world bus like ISA/PCI bus, or just a logic bus(like sysbus in QEMU) which groups the devices together. This is not only for perfect display of a device tree, it can be useful w

[2019-03-26 13:28] bonzini opened #44 "Access Request to rust-vmm/vm-memory"
GitHub Username: bonzini

I would like to be able to close issues, assign them to myself etc.

[2019-03-26 14:06] petreeftime commented on #19
As someone who is new to working with firecracker code but had to implement some virtio devices, I would want to see devices become quite a lot more generic than they are right now. The firecracker model does not really abstract KVM-specific design decisions all that well and this makes some things quite challenging to understand. I am not sure a single crate is a good idea, as that would lead to

[2019-03-26 14:17] bonzini commented on #19
It can do much more: it can be a rust-vmm/vm-memory client that takes a `dyn GuestMemory` anddoes all the VirtQueue parsing. That should be the first thing to add, because it's the easiest to abstract - we already almost have vm-memory ready.

This depends on having device abstractions in rust-vmm, so it comes later.

[2019-03-26 14:17] sameo commented on #44
@bonzini You already have write access to the `vm-memory` repo. Do you confirm you don't have permissions to close issues?

[2019-03-26 14:18] bonzini commented on #44
I don't; I also don't have permissions to assign issues to myself, set up labels etc.

[2019-03-26 14:20] sameo commented on #44
You're an admin of that repo now. Could you try again, please?

[2019-03-26 14:36] andreeaflorescu commented on #44
I added the required permissions one hour ago and I forgot to update the issue. Did you check again?

[2019-03-26 14:42] bonzini commented on #44
It works! Thanks

[2019-03-26 14:42] #44 closed

[2019-03-26 15:23] bonzini commented on #22
@sameo This can be closed now

[2019-03-26 15:25] bonzini commented on #14
About licensing: Apache 2 and GPLv2 are incompatible, so it wouldn't be possible to use rust-vmm in QEMU. What about just MIT?

[2019-03-26 15:33] sameo commented on #22
Fixed with  https://github.com/rust-vmm/vm-memory/pull/1

[2019-03-26 15:33] #22 closed

[2019-03-26 23:32] mswilson commented on #14
@bonzini, would it be acceptable to explicitly dual license "Apache License, Version 2.0 or MIT"?

[2019-03-27 02:34] yisun-git commented on #40
Sorry for late. I am just back from vacation.

Per my thought, our idea is to make hypervisor agnostic so we should abstract a hypervisor trait directly. It provides common functions, e.g. get_msr/set_msr/set_cpuid/etc. The specific hypervisor implementations, e.g. kvm/hyper-v/etc, are behind it. Then, the vcpu calls the functions in hypervisor trait. This needs the changes in vmm/vcpu/etc to repl

[2019-03-27 06:43] bonzini commented on #14
@mswilson Of course, though that would be effectively the same as just MIT.

[2019-03-27 07:43] mswilson commented on #14
Consult your counsel, I am not a lawyer, etc. But Apache addresses patents,
while MIT does not.

This is how the Rust language itself is licensed, and it makes sense to me
to follow the same pattern.

https://github.com/rust-lang/rust/blob/master/COPYRIGHT

On Tue, Mar 26, 2019, 11:43 PM Paolo Bonzini <notifications@github.com>
wrote:

[2019-03-27 08:32] bonzini commented on #14
Sounds good to me!

[2019-03-27 09:04] sameo commented on #14
Sounds good to me as well.

[2019-03-27 11:25] jiangliu commented on #33
The current firecracker and crosvm Bus implementation uses a binary tree to represent a devices bus, but we may want to allow for more flexibility by providing a trait and then having a binary tree implementation of this trait.

Hi Sameo,
       I have some questions about the Bus trait,
       1) How to support devices with multiple address spaces? For example, PCI has IO, MMIO and CFG address sp

[2019-03-27 12:30] jiangliu commented on #14
sounds good to me as well.

[2019-03-28 14:02] sameo commented on #42
@Andreea I think it would make a lot of sense to host it in rust-vmm. Maybe we could have a more generic name for that repo like e.g. `dev-tools` instead?

[2019-03-28 14:25] andreeaflorescu commented on #42
Do we want to add more tools there (other than the container stuff)? We also have to find a host for the yaml configuration file (if we end up using builkite).

[2019-03-29 09:02] sameo commented on #42
I'm pretty sure we'll end up putting more tooling there. Better that than having to rename it afterwards.

[2019-03-29 09:18] andreeaflorescu commented on #42
I kinda like the model where you have the docker related documentation and files in one repository and then link it to Docker Hub.
Checkout how kcov is handling this: https://hub.docker.com/r/ragnaroek/kcov/

I am inclined towards 2 repositories:
- rust-vmm-container (or something like that) which contains the Dockerfile and documentation
- some other repository for integration tests configuration

[2019-04-01 09:09] sameo commented on #24
@andreeaflorescu @bonzini Are we ok with creating this crate? I'd like to move forward with that one.

[2019-04-01 09:10] andreeaflorescu commented on #24
Yap, sounds good.

[2019-04-01 10:17] sameo commented on #42
If you prefer a dedicated repo, I'm fine with that.
Could we name it `dep-container` or something like that? `github.com/rust-vmm/rust-vmm-container` stutters a bit...

[2019-04-01 11:09] bonzini commented on #24
Of course.

[2019-04-01 14:44] rbradford commented on #29
@bonzini I'm sure it would be possible to make u-boot work. And the UEFI runtime code there is indeed very mature. The motivation for doing it this way is:

* Have something that is directly compatible with the existing ELF kernel loader with the binary started in long mode.
* Demonstrate that it is possible to build a firmware in languages other than C, and getting benefits from a "safe" language

[2019-04-01 17:42] sameo commented on #33
@chao-p I prefer the first design, I think we need to explicitly represent a bus and have an easy way to link a device to its parent bus, for e.g. building accurate hardware description tables.
I feel the assumption that a Bus is a `Device` itself and an `Iterator` of `Device` as well is the right approach:

[code]

About the `DeviceManager`: It should abstract the `Device` and `Bus` registration

[2019-04-02 07:35] bonzini commented on #33
I agree with @sameo, with just a couple notes:

* I don't really like having Mutex in the prototypes. I prefer having just `Arc<dyn Device>` and then the VirtioDevice can implement Device and hide its implementation beneath a `Mutex<VirtioDeviceImpl>`.

* The Bus is not an iterator, though it could have an `iter()` method to return one.

For devices with RAM BARs, do we need some kind of interface

[2019-04-02 07:39] bonzini commented on #19
Let's rename this to `virtio` and start with virtqueue functionality, interfacing with `vm-memory`. Everything else (devices, which depend on the #33 `vm-device` create, vhost-kernel bindings, and vhost-user) can be added later and hidden behind features to keep the dependencies as small as possible.

[2019-04-02 07:47] chao-p commented on #33
@sameo This places an assumption that all the resources are known at 'register' time, this is not true for some devices as far as I can tell.

My design to give device itself the ability to allocate device resources with alloc_pio/mmio/irq and register_pio/mmio is by intention and can provide some level of flexibility:
- it can use these interfaces in init() to register resources that known at 'in

[2019-04-02 08:09] chao-p commented on #33
@bonzini

Yes, I like `Arc<dyn Device>` as well.

Currently we are thinking Bus as a collection of devices, this is not too appropriate exactly. What we really need is providing the ability to traverse all the devices under a bus.

[2019-04-02 08:29] rbradford commented on #33
@chao-p Could you elaborate on that? What device (type) do you know of that need to dynamically assign themselves the ranges and that can't be handled by having an initial large range. Generally these resources you're talk about aren't particularly limited.

[2019-04-02 08:30] rbradford commented on #33
This might also help address @sboeuf virtio-fs DAX related things.

[2019-04-02 09:29] sameo commented on #33
Makes sense.

I may be misunderstanding your point, but I guess this could be done by GuestMemory and Devices publishing their RAM resouces and the resource allocator would be listening to those changes and updating KVM accordingly.

[2019-04-02 11:38] chao-p commented on #33
In real world devices, there are some of them. Usually the layout/enabling status of the IO ranges can be re-configured by writing to certain configuration registers. PCIEXBAR/PAM/SMRAM are such of examples, they are implemented in QEMU but I don't think we are interested in enabling them.

One example I can think that may potentially impact us is PCI 'Resizable BAR Capability',  if we support pas

[2019-04-03 08:22] sameo commented on #24
Repo created, I'm closing that one.

[2019-04-03 08:22] #24 closed

[2019-04-03 08:23] sameo commented on #28
vmm-sys-utils is created. I'm closing that one.

[2019-04-03 08:23] #28 closed

[2019-04-03 08:55] sameo commented on #33
I think we all agree this crate is needed, obviously. I'll go ahead and create a `vm-device` crate.

[2019-04-03 13:52] sameo commented on #33
I assume this is mostly useful for large BAR devices that need some more space once their on 64 bits? GPUs for example?

I think the current proposal could be expanded to support direct allocation requests, when the need to support such feature arise?

[2019-04-03 14:50] chao-p commented on #33
@sameo Make sense. It can be easily expanded, without breaking the existing APIs.

[2019-04-04 16:35] ochescc opened #45 "Access Request to rust-vmm"
GitHub Username: ochescc

[2019-04-04 17:29] sameo commented on #45
Invite sent.

[2019-04-04 17:29] #45 closed

[2019-04-04 21:16] sboeuf commented on #33
Sorry for being late to the party here. Here are my inputs:

@chao-p

Crosvm needs to find dynamically some free ranges to allocate shared regions asked by the guest. This is part of the `virtio-wayland` device, where no shared region is allocated up front, but instead at runtime, leaving the guest driver asking about new shared memory to be allocated.

`virtio-fs` can work without this dynamic al

[2019-04-05 07:28] sboeuf commented on #33
Actually the more I look into Crosvm, the more I think we need to come up with strong reasons if we want rust-vmm to diverge from their model there, as it handles things pretty cleanly.

The common base between Firecracker and Crosvm is the `Bus` structure with the trait `BusDevice`, which is implemented by any device such as `cmos`, `pci`, `serial`, `mmio`. The methods from `Bus` differ slightly

[2019-04-05 07:35] bonzini commented on #33
I totally agree with using the Crosvm code. Whether to put it in vm-device or vm-memory is up to the people doing the "extraction".

[2019-04-05 09:17] serban300 opened #46 "Access Request to rust-vmm"
GitHub Username: serban300

I am part of the firacracker-microvm org

[2019-04-05 09:26] andreeaflorescu commented on #46
Invitation sent. Welcome to the rust-vmm!

[2019-04-05 09:26] #46 closed

[2019-04-05 11:53] sameo commented on #33
@sboeuf Thanks for the input. A few comments from me:

* The only real trait that we'd need is the `Device` one. A `Bus` could implement the `Device` trait. And `DeviceManager` would not be a trait.

* The system allocator is needed, except for cases where the memory model is immutable and static (Firecracker). And it should look a lot like the crosvm one, yes. That's what I called the resource ma

[2019-04-08 04:34] jennymankin commented on #40
## Update to design

For the trait definition, I pull all the functions currently in the kvm-ioctl's crate, since these are key functions and both KVM and Windows Hypervisor Platform (WHP) provide underlying APIs that can be used to implement each of these function. The trait is below; there is not much change from the original proposal, just some refinement as I've now done basic POC work on each

[2019-04-08 10:32] andreeaflorescu commented on #40
LGTM.

[2019-04-10 18:01] sboeuf commented on #33
@sameo

Sounds good.

`vm-device` is one of the components using this system allocator, but not the only one, which makes a bit weird to have it defined in the `vm-device` crate.

That is true, and this is the part I was missing, thanks for pointing me to this. Simple VMM such as Firecracker don't need an extensive view of the system since it is fairly simple, but other might need it for more comp

[2019-04-10 18:46] sboeuf commented on #19
@bonzini

I think @sameo mentioned it's not possible because already used on `crates.io`.

[2019-04-10 19:42] bonzini commented on #19
Why not `vm-virtio`, following vm-memory, vm-devices etc.?

[2019-04-10 19:50] sboeuf commented on #19
Fine by me, I like that we stay consistent with the naming.

[2019-04-11 01:42] ktian1 commented on #14
what about versioning scheme? I saw @andreeaflorescu plans to publish v0.1.0 of kvm-ioctl crate. It might be good to have a common guideline for all rust-vmm crates...

[2019-04-11 08:27] andreeaflorescu commented on #14
@ktian1 That's a great point and we should have it written somewhere. My proposal up to the point we want to release a 1.0.0 version is to have patch versions for non-breaking changes & bug fixes and minor versions for breaking changes. This comes with the disadvantage that we are not following the [general accepted versioning](https://semver.org/) of packages, but I don't really have a better ide

[2019-04-11 09:05] mswilson opened #47 "Access Request to rust-vmm"
GitHub Username: mswilson

[2019-04-11 09:06] andreeaflorescu commented on #47
Invitation sent. Welcome to the community!

[2019-04-11 09:06] #47 closed

[2019-04-14 14:30] Uncho opened #48 "Access Request to rust-vmm"
GitHub Username: Uncho

[2019-04-17 13:16] alexggh opened #49 "Access Request to rust-vmm"
GitHub Username: alexggh

[2019-04-17 13:57] andreeaflorescu commented on #49
Invitation sent! Welcome to rust-vmm!

[2019-04-17 13:57] #49 closed

[2019-04-17 13:57] andreeaflorescu commented on #48
Invitation sent! Welcome to rust-vmm!

[2019-04-17 15:18] zachreizner commented on #41
I think this looks pretty good. Those that wish for dynamic dispatch can use the dynamic trait `&Vcpu` but those that want to choose at compile time to take advantage of static dispatch would simply use a concrete impl of `Vcpu`.

[2019-04-18 08:29] yisun-git commented on #40
@jennymankin , I just left a message to you on slack. I added an issue on vmm-vcpu crate and present my ideas. Please check it when you are free. :)

[2019-04-24 02:23] yisun-git opened #50 "Extend vmm-vcpu to Hypervisor crateCrate Addition Request"
## Crate Name
Hypervisor

## Short Description
vmm-vcpu has made Vcpu handling be hypervisor agnostic. But there are still
some works to do to make whole rust-vmm be hypervisor agnostic. So here is
a proposal to extend vmm-vcpu to Hypervisor crate to make rust-vmm be
hypervisor agnostic. There has been an issue to discuss this:
https://github.com/rust-vmm/vmm-vcpu/issues/5.

To make larger audienc

[2019-04-24 04:34] jennymankin commented on #50
Bringing over our discussion from https://github.com/rust-vmm/vmm-vcpu/issues/5 so that we can resume it with this audience:

***
jennymankin commented 5 hours ago
I think each of these traits would be better implemented as a separate crate, so that each piece can be modularly used as VMM building blocks. That would make the VM crate a nice next step to implement, as the next highest-level crate (

[2019-04-25 14:23] hannibalhuang commented on #15
anyone working on this one ? It would be really helpful to have an introduction document with architecture diagram

[2019-04-25 14:24] hannibalhuang opened #51 "Access Request to rust-vmm"
GitHub Username: hannibalhuang

[2019-04-29 16:27] pradeepsreenivas opened #52 "Access Request to rust-vmm"
GitHub Username: ...

[2019-04-29 23:07] caniszczyk opened #53 "How do join the rust-vmm slack?"
id: caniszczyk@linuxfoundation.org

[2019-04-29 23:11] jbryce commented on #53
https://join.slack.com/t/rust-vmm/shared_invite/enQtNTI3NDM2NjA5MzMzLTJiZjUxOGEwMTJkZDVkYTcxYjhjMWU3YzVhOGQ0M2Y5NmU5MzExMjg5NGE3NjlmNzNhZDlhMmY4ZjVhYTQ4ZmQ

[2019-05-01 14:56] sameo commented on #19
I just created the vm-virtio repo.
I will shortly send an initial PR for it.
@bonzini iiuc you're suggesting we avoid having a `virtio-bindings` separate crate and use a cleaned up version of the bindgen'ed virtio code in the vm-virtio crate, right ?

[2019-05-03 17:40] #53 closed

[2019-05-03 20:21] sboeuf opened #54 "Create a rust-vmm.github.io repo for documentation"
As discussed during the PTG meetup, we want to have both documentation about what rust-vmm is in both the community README, and through a github.io webpage.
In order to achieve the github.io one, we need to create a new repo for this.

[2019-05-03 21:21] zachreizner opened #55 "Crate Addition Request: kvm"
## Crate Name
`kvm`
## Short Description
The [kvm-ioctls::ioctls](https://github.com/rust-vmm/kvm-ioctls/tree/master/src/ioctls) module moved into its own crate.
## Why is this crate relevant to the rust-vmm project?
A nice struct and enum wrapper of the raw KVM primitives (e.g. kvm, vm, vcpu) is used by both crosvm and firecracker, so it's clearly relevant. I found it strange that such a wrapper

[2019-05-04 15:54] andreeaflorescu commented on #55
As we discussed offline I believe there's not much value in having yet another kvm related crate. My proposal would be to rename kvm-ioctls to kvm since you have the ownership of the kvm name on crates.io.

I agree that `ioctls` is not the happiest name for the module that has wrappers on top of the KVM API, but the name is not visible to people using kvm-ioctls because `Kvm`, `VcpuFd` and `VmFd`

[2019-05-05 12:25] jiangliu commented on #33
How about using the resource allocator in the device manager to manage guest physical memory too?
We may treat guest physical memory as a special type of system device, and allocate GPA regions for guest memory from a system address allocator. On the other hand, vm_memory just provides methods to access those memory devices.

[2019-05-05 12:40] jiangliu commented on #33
I prefer it to be part of vm-device too. vm-memory should just provide mechanism to access memory device, and memory device is a type of device too.

Seems  it would be clear to distinguish between bus address and resource address.
1) The device manager provides interfaces to find a device by resource addresses(such as MMIO, PIO, irq addresses). A device may be addressed by different address range

[2019-05-05 12:45] jiangliu commented on #33
Sounds like calling for a vm-resource-manager crate:)
Actually I think the vm-memory crate should be treated as a resource accessor instead of a resource manager. Once I tried to introduce a simple resource manager into the vm-memory, but it would be better to have a global resource manager out of the vm-memory crate.

[2019-05-05 23:07] sameo commented on #42
@andreeaflorescu Let's create the rust-vmm-container repo.

[2019-05-06 07:47] andreeaflorescu commented on #42
@sameo done. Will add a PR soon.

[2019-05-06 16:01] andreeaflorescu opened #56 "Repository Addition Request: rust-vmm-ci"
## Repository Name: buildkite-ci

## Short Description
The buikdkite-ci repository contains the buildkite pipeline that is going to be used by all other crates to run the CI. The buildkite pipeline is an yaml file with steps. Each step corresponds to one command running as part of the CI.

With buildkite you can either configure the steps in the web interface or using a `.buildkite/pipeline.yaml`

[2019-05-09 08:01] petrutlucian94 commented on #56
Having a centralized place for those pipeline definitions sounds great, we avoid duplication and simplify CI management.

I guess that in the future, the test scenarios may become more complex, so this repo may hold other files as well (e.g. other job definition files, scripts, simple tools, etc).

[2019-05-09 09:20] andreeaflorescu commented on #56
Renamed the proposed named to rust-vmm-ci as I was thinking to use it for other common tests as well. For example we can have [test_coverage.py](https://github.com/rust-vmm/kvm-ioctls/blob/master/tests/test_coverage.py) there so other projects can reuse it.

[2019-05-09 09:22] andreeaflorescu commented on #56
Additional proposal: we can have one pipeline for each platform and operating system we want to support. And let me tell you why:
1. Some crates (like vm-memory) will also have support for Windows so you want to the integration tests to pass on windows as well. But you can't have it in the default pipeline because some crates cannot have it (like kvm-ioctls).
2. Ideally we would have *most* of the

[2019-05-09 11:51] rbradford commented on #56
Some repos might need different pipelines, perhaps to prepare something: https://github.com/rust-vmm/linux-loader/pull/2#discussion_r282446524

For this specific example it might make sense to just have a ci-prepare.sh in that repository and then have the common script `[test -a ci-prepare.sh] && ci-prepare.sh`

[2019-05-10 10:46] andreeaflorescu commented on #56
@rbradford you can have custom hooks executed before running a command or before checking out the repository code. I think the prepare.sh script should be called in the hook and not part of the pipeline step so that the steps can be independent of the repository being tested. What do you say?

If you want to learn more about hooks you can check the [Buildkite hooks documentation](https://buildkite

[2019-05-10 10:46] andreeaflorescu commented on #56
@rbradford you can have custom hooks executed before running a command or before checking out the repository code. I think the prepare.sh script should be called in the hook and not part of the pipeline step so that the steps can be independent of the repository being tested. What do you say?

If you want to learn more about hooks you can check the [Buildkite hooks documentation](https://buildkite

[2019-05-10 11:00] andreeaflorescu commented on #56
This is a summary of the discussion points from the email thread.
@sboeuf @petrutlucian94 please correct me if there is anything I misunderstood.

### Sharing the CI pipelines or other related tools
There are currently two proposals:
- use git submodules
- script that pulls the latest CI. @sboeuf : "You could have a dedicated "ci" directory (for every crate) in which you could have the same script

[2019-05-10 11:19] andreeaflorescu commented on #56
@sboeuf I don't see a big advantage here with using this instead of regular git submodule. I like having a fixed version for the pipelines because this implies you are only updating to a new version of the CI intentionally. If you are in the middle of a release or in the middle of a bug fix you don't want the CI to break for something that is unrelated to what you are doing.

I don't necessarily w

[2019-05-10 12:25] petrutlucian94 commented on #56
Probably we got the terms mixed up. So kvm-ioctl-ci itself is a buildkite pipeline, by spitting it into multiple pipelines I thought we'd end up with something like kvm-ioctl-ci.arm_linux, kvm-ioctl-ci.x86_linux, etc, each requiring its own webhook.

From what I can tell, those build steps wait for agents to become available. Each agent runs one step at a time and there's a single agent per platfo

[2019-05-10 13:18] rbradford commented on #56
And that's still going to work if everything is centralised into a common repo? If so, sounds good!

[2019-05-10 15:16] sboeuf commented on #56
@andreeaflorescu

Fair enough, let's use git submodules then!

[2019-05-10 16:08] andreeaflorescu commented on #56
@rbradford the hooks are on the machines where the builkite-agent is running. So yes. In the hook you have information about the repository being tested so you can have commands that are executed only for some of them.

[2019-05-10 16:16] andreeaflorescu commented on #56
@petrutlucian94 I am not sure if this is how it works and I will have to check. My proposal would be to have one pipeline/project with one associated webhook. This is what kvm-ioctls-ci is today. Then, in kvm-ioctls we would have 2 steps:
- one for uploading x86_linux_pipeline.yaml
- one for uploading arm_linux_pipeline.yaml

The two pipelines definitions would have the tests specific for each pla

[2019-05-15 17:06] sameo opened #57 "Crate Addition Request: vfio"
## Crate Name

`vfio`

## Short Description

The `vfio` crate would allow for rust-vmm based VMMs to assign host devices/functions to the guest workload.

## Why is this crate relevant to the rust-vmm project?

Mostly for implementing direct device assignment.

[2019-05-20 02:28] zhenyw commented on #57
Hi, we're working on adding VFIO support for crosvm: https://chromium-review.googlesource.com/c/chromiumos/platform/crosvm/+/1580455/1.

The original purpose is for VFIO mdev support on virtual GPU acceleration, and we're evaluating for general VFIO passthrough too. We hope to add vfio support for rust-vmm based on that work.

thanks

[2019-05-20 10:13] sameo commented on #56
AFAIU that's for the agent hooks. There are also repository scripts that live in the `.buildkite/hooks/`, I think this is what we'd want in that case.

[2019-05-20 10:44] andreeaflorescu commented on #56
@sameo yap, we can have per repository hooks. I missed that one!

For future reference: https://buildkite.com/docs/agent/v3/hooks#repository-hooks

[2019-05-20 10:45] andreeaflorescu commented on #15
Hey @hannibalhuang I will start working on this. Sorry for the long wait! In the meantime, you can read an introduction about rust-vmm here: https://opensource.com/article/19/3/rust-virtual-machine

[2019-05-20 10:52] andreeaflorescu commented on #31
Hey @yisun-git can you please give some more details about the interface of this crate and how is it going to be used?

[2019-05-20 10:53] andreeaflorescu commented on #33
Repository created: https://github.com/rust-vmm/vm-device

[2019-05-20 10:55] andreeaflorescu commented on #38
@richardwyang can you please add some more details about the interface of this crate?

[2019-05-20 11:01] hannibalhuang commented on #15
No problem :)

[2019-05-20 11:02] andreeaflorescu commented on #50
Do we have any update on this one? Did you discuss it during the last sync meeting?

My concern with this crate is that the vCPU interface for Hyper-V and KVM as well as x86 and arm doesn't really have many common functions that can be shared. I would like to understand how this is going to be used by other crates. During PTG we tried to come up with crates that would benefit from this interface.

[2019-05-20 12:01] sameo commented on #56
@andreeaflorescu Right, but how would we do that if each repo's `.buildkite` is a git submodule?

[2019-05-20 12:10] sameo commented on #56
@andreeaflorescu Let's go an create the repo anyway. We'll find the best way to use it across repos once it's there and filled.

[2019-05-20 12:22] andreeaflorescu commented on #56
@sameo as discussed offline, I would have rust-vmm-ci as a git submodule in every repository. The `rust-vmm-ci` directory will have all the things that are shareable by all repository like a `common-pipeline.yml` and the coverage test. To run the common pipeline as part of the CI, you would need to add a step like:
```buildkite-agent pipeline upload rust-vmm-ci/common-pipeline.yml```

Then each re

[2019-05-20 14:58] andreeaflorescu commented on #56
Created the repo: https://github.com/rust-vmm/rust-vmm-ci

[2019-05-21 02:34] yisun-git commented on #50
Hi @andreeaflorescu,

I discussed this issue with Jenny at here and the [vmm-vcpu issue](https://github.com/rust-vmm/vmm-vcpu/issues/5). As many people did not attend last meeting, we did not discuss it during the last meeting.

I have completed prototype codes based on Firecracker for this issue. The Hypervisor crate uses [vmm-vcpu crate](https://github.com/rust-vmm/vmm-vcpu/pull/3) as part of it

[2019-05-21 02:37] yisun-git commented on #31
Hi @andreeaflorescu, this crate depends on the #50 because I want to make it be hypervisor agnostic. I need firstly get clear answer about #50.

[2019-05-21 03:13] richardwyang commented on #38
@andreeaflorescu Hi, Andreea

This crate is the counterpart of nvdimm in qemu. Most likely they would have the same interface as dimm.

[2019-05-21 05:01] jennymankin commented on #50
Hi @andreeaflorescu,

There's been some discussion on [the PR itself](https://github.com/rust-vmm/vmm-vcpu/pull/3) as to how a vCPU abstraction would be used in other crates; for example I've argued that it's a quite clean abstraction to use in crates like the architecture-specific `arch` crate. We are also working on prototyping crosvm to use Hyper-V, which will also give us a sense for how usefu

[2019-05-21 14:32] sameo opened #58 "Crate Addition Request: vm-allocator"
## Crate Name

`vm-allocator`

## Short Description

A layer that tracks and manages resources allocations for guest VMs.
By resources we mean: Address ranges (PIO and MMIO) and interrupts.

When adding e.g. a new device or some physical memory to a guest, the vm-allocator is being called to reserve the device resources or the piece of memory allocation. Typically, devices will ask for a set of PI

[2019-05-21 18:02] jiangliu commented on #58
Will this crate also cover guest physical memory? So we could treat guest memory just as another type of resource.

[2019-05-22 05:58] sameo commented on #58
It should, yes.

[2019-05-22 06:06] #42 closed

[2019-05-26 11:22] kvart2006 opened #60 "Access Request to rust-vmm"
kvart2006

[2019-05-29 17:28] zachreizner opened #61 "Crate Versioning/Publishing"
The topic of how to version and publish crates came up during the Denver PTG meeting and wasn't totally settled. The discussed questions are:

_How do crates get published? Will there be a human gatekeeper to publish or will a bot do it automatically?_

One way to do with would be to imbue a bot with a crates.io key and have it publish after tests run and a maintainer pushes a button. Alternativel

[2019-05-31 01:49] yisun-git commented on #50
Hi @andreeaflorescu, @jennymankin

I just uploaded the draft codes to implement Hypervisor crate which includes Jenny's Vcpu change. I planned to refine these draft codes but I have not had time to do it. So there are some messy codes. Sorry for that.

[2019-06-03 09:26] bonzini commented on #29
I'm still not sure why this firmware would be a `rust-vmm` component, it seems pretty closely tied to the design of [intel/cloud-hypervisor](https://github.com/intel/cloud-hypervisor).

[2019-06-03 09:26] bonzini commented on #56
@andreeaflorescu Close?

[2019-06-03 09:57] sameo commented on #57
@andreeaflorescu @raduweiss Given the reference to device passthrough in the [latest Firecracker update](https://aws.amazon.com/blogs/opensource/firecracker-open-source-update-may-2019/), are you planning to use VFIO as well?

[2019-06-03 12:32] andreeaflorescu commented on #57
@sameo We didn't scope the GPU support in Firecracker just yet and we don't know what the final solution will be there, so I don't think we can answer your question just yet.

[2019-06-03 15:17] npmccallum opened #62 "Collaboration / Merge with Ketuvim"
I'm the author of the [Ketuvim](https://github.com/enarx/ketuvim) project. We currently provide an API for KVM with an emphasis on type safety. However, we are still young so we haven't fully accomplished this goal yet. Perhaps we could find a way to merge the projects or at least collaborate?

One major difference between our two approaches is that rust-vmm publicly uses C types generated with bi

[2019-06-03 15:23] npmccallum commented on #62
I forgot to mention that we are also working with the rust-os project to define memory layout compatible types for hardware features (like register flags, etc.). These should be reusable for things like register tweaking.

[2019-06-03 15:40] andreeaflorescu commented on #62
Hey @npmccallum I'll take a look at your code, sounds interesting. We definitely don't want to re-invent the wheel where there is no need to. If we could merge the projects/work together that'd be great.
When you say an API for KVM do you mean something similar to what we have in [kvm-ioctls](https://docs.rs/kvm-ioctls/0.1.0/kvm_ioctls/)?

I would also recommend to drop an email to the rust-vmm em

[2019-06-03 15:41] andreeaflorescu commented on #62
rust-vmm email list:  rust-vmm@lists.opendev.org

[2019-06-03 15:43] npmccallum commented on #62
@andreeaflorescu Yes. However, we have one crate that does the job of multiple of your crates. So there isn't exactly a one-to-one mapping.

[2019-06-03 15:45] andreeaflorescu commented on #62
@npmccallum what other crates are you referring to?

[2019-06-03 15:48] npmccallum commented on #62
We cover at least `kvm-bindings` and `kvm-ioctls`. We also provide additional types that can be reused in a variety of situations.

[2019-06-03 15:48] npmccallum commented on #62
(Some of this is stuff I'm about to push.)

[2019-06-05 04:23] jiangliu opened #63 "Crate Addition Request: An epoll based IO event manager"
## Crate Name
vmm-epoll

## Short Description
The vmm-epoll crate aims to implement an IO event manager based on Linux epoll. It's derived from the implementation from the firecracker project, but with several enhancements:
1) Provide a hash table based multi-thread safe manager, in addition to the vector based single-thread manager.
2) The 64-bit epoll_event.data field is split into two sub-field

[2019-06-05 04:30] jiangliu commented on #58
Seems we need a better name for this crate:)
How about vmm-resources or vmm-resource-mgr?

[2019-06-05 06:47] andreeaflorescu commented on #58
vmm-resources sounds like you will also have the resources defined there.

[2019-06-05 08:01] sameo commented on #63
@jiangliu Could this one live under the sys-util crate?

[2019-06-05 08:09] jiangliu commented on #63
That's an option. Our current implementation still depends on the epoll crate instead of using the epoll wrapper from the vmm-sys-utils. On the other hand, it's not a simple wrapper over the linux epoll.

[2019-06-05 08:20] sameo commented on #63
@jiangliu Yes, it's not going to be a simple wrapper. But otoh it's more of a utility than a VMM feature itself.

[2019-06-05 08:54] acatangiu commented on #63
What is the design proposal for:

Also do you plan to cascade `epoll`s or use a single flat structure?

[2019-06-05 08:57] jiangliu commented on #63
By design, it's a flat structure. We may create an epoll manager for each IO worker thread, and register different devices into different epoll manager. For example, we may use an epoll manager instance to replace the cascade epoll in vsock:)

[2019-06-06 13:24] andreeaflorescu commented on #56
PR: https://github.com/rust-vmm/rust-vmm-ci/pull/2

@bonzini let's close this after the PR is merged.

[2019-06-07 09:41] andreeaflorescu opened #64 "Repository Addition Request - Repository Template"
## Repository Name: rust-vmm-repo-template

## Short Description
Proposed repository template here:  https://github.com/andreeaflorescu/rust-vmm-repo-template

The template is still WIP because I didn't give it much thought, so I will probably update it.
GitHub blogpost about repository templates: https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/

## Why is this c

[2019-06-07 10:29] jiangliu commented on #64
Could we also add Apache2 license files to the template?

[2019-06-07 10:30] andreeaflorescu commented on #64
@jiangliu yap, adding it.

[2019-06-07 12:57] sameo commented on #64
And the BSD-3 Clause one.

[2019-06-07 12:57] sameo commented on #64
This makes a lot of sense to me.

[2019-06-07 13:19] andreeaflorescu commented on #64
@sameo about the BSD-3 Clause one: for code that's new and not coming from CrosVM is the BSD-3 clause one required? I would like to better understand this. Probably will drop an email to the rust-vmm email list as well.

I was thinking that for code that comes from CrosVM we need to have Apache + BSD 3 clause, but for code from Firecracker/new code can we have Apache + MIT instead?

[2019-06-07 13:20] andreeaflorescu commented on #64
BTW, let's first decide if we want a template. We can then create an empty repository and add the template as the first PR. We can comment on the PR on other things we should add to the template.

[2019-06-07 13:24] jiangliu commented on #64
This is must-to-have repo:)

[2019-06-10 08:41] andreeaflorescu opened #65 "Update readme - list repositories"
We currently have a static list of repositories/crates in rust-vmm with a minimal description. This list will very often by out of sync. We might be able to use GitHub APIs to update the README.md.

For more details check this comment:
https://github.com/rust-vmm/community/pull/59#discussion_r289452445

[2019-06-10 08:41] #15 closed

[2019-06-10 08:41] andreeaflorescu commented on #15
PR merged: #59

[2019-07-02 08:02] andreeaflorescu commented on #64
Should we name this repository `crate-template` as it is going to be used only for repositories that are crates?

[2019-07-10 01:17] yisun-git opened #67 "Crate Addition Request - vm-live-migration"
Crate Name
==========================================================================
vm-live-migration

Short Description
==========================================================================
vm-live-migration crate abstracts the components used for live migration,
provides the interfaces to control the live migration and defines the flows
of live migration.

The upper layer which can respon

[2019-07-10 10:21] bonzini commented on #67
This design vaguely :) reminds me of QEMU. While I think that QEMU's overall migration format is fine, what about transmitting the device's migration data using Serde? See for example https://crates.io/crates/serde_asn1_der (not sure how mature that crate is).

[2019-07-10 10:46] jiangliu commented on #67
I prefer to use serde framework and avoid reinvent the wheel, but json is a little overhead:)
Another question is whether or not to reuse qemu live migration wire protocol.

I prefer to use the rust serde framework and avoid reinvent the wheel, but json is a little overhead:)
Another question is whether or not to reuse qemu live migration wire protocol.

[2019-07-10 10:48] jiangliu commented on #67
How about using rust tokio/futures + serde for the live migration?

[2019-07-10 10:57] andreeaflorescu commented on #67
@jiangliu tokio has been a big pain point for Firecracker because it pulls in so many dependencies that are simply unmanageable. We ended up with a fixed version of tokio and still struggling to get rid of that dependency. I don't think we should re-invent the wheel, but maybe we should put some more thought into this.

[2019-07-10 11:03] andreeaflorescu commented on #67
BTW, serde has support for multiple data formats, we don't necessarily need to use JSON if we end up using serde.

[2019-07-10 12:16] jiangliu commented on #67
Good point:)
Seems that the future crate is lightweight, by the hyper crate is really heavyweight, tokio is moderate depending on the features used.

[2019-07-11 01:57] yisun-git commented on #67
Thanks for the comment! Yes, we thinking about using serde to serialize/deserialize migration data. But to consider migration between Qemu and rust-vmm, we have to make Qemu data format be supported by serde. That may need more efforts.

[2019-07-11 02:19] yisun-git commented on #67
Hi, all, thanks for the comment! I am thinking to use serde to serialize/deserialize migration data. Per my thought, it should be a tool used by MigrationData to assemble the migration data according to the format defined by MigrationDataFileFlag. Then, we can keep the ability to do migration between Qemu and rust-vmm. How do you think?

[2019-07-11 02:26] jiangliu commented on #67
Have some concerns about the goal to migration vms between firecracker/cloudhypervisor and qemu. It may needs big effort or even impossible.

[2019-07-11 02:54] yisun-git commented on #67
Yes, maybe. In fact, I am not very sure about it either. @bonzini @andreeaflorescu, how about your opinions? Thanks!

[2019-07-11 03:38] yisun-git commented on #67
How about fibers crate which bases on futures and mio to support asynchronous tasks? It looks more lightweight than tokio.

[2019-07-11 05:55] richardwyang commented on #67
Hmm... I got one confusion. Why we plan to separate MigrationState and MigrationRam.

In case we leverage QEMU, we see RAM and other devices are registered on savevm_state as the same type SaveStateEntry. They are treated as the same during each iteration and completion stage, but with different handlers. This is how they are handled differently.

I agree that RAM is special and need some tricks t

[2019-07-11 06:49] bonzini commented on #67
Live migration between QEMU and rust-vmm is not really a practical goal. For any but the simplest devices, migration includes implementation details such as timers that are going to differ too much.

[2019-07-11 07:17] yisun-git commented on #67
Hi, Richard, because ram is really different with states, I do not want to miss them together to provide unified handlers. That may cause complexity which seems not necessary.

[2019-07-11 07:19] yisun-git commented on #67
Thank you! This is very important comment. So I may not consider migration between Qemu and rust-vmm. That may simplify things.

[2019-07-15 12:07] andreeaflorescu commented on #33
I am coming really really late to the party, but only after I saw the PR I understood the implications of `vm-allocator`.

As some people pointed out, the devices in Firecracker are static and do not need a complex `SystemAllocator` to handle the memory regions/other resources. With that in mind, I would propose to have the `vm-device` independent of the implementation of the `SystemAllocator`. I

[2019-07-15 12:35] liujing2 commented on #33
Trying to list some big differences between very simple vmm (like firecracker) and general vmm request after some talk with @andreeaflorescu . If there's something misunderstanding, please correct me. :)

vm-device:
- Key to decouple with vm-allocator: who is better responsible for each device resource allocation and free? VMM or DeviceManager?

vm-allocator:
- All resources need to be managed (e.

[2019-07-15 13:31] andreeaflorescu commented on #33
My proposal was to have the `SystemAllocator` implemented in each VMM. But the implementation of the `SystemAllocator` would be rather trivial as it would only have wrapper functions to call into other allocators that are already defined in `vm-allocator`. With this approach you wouldn't have to worry about providing two implementations for the SystemAllocator: one that it's thread safe and one th

[2019-07-15 14:09] sameo commented on #64
This LGTM, let's do it.

[2019-07-15 14:10] sameo commented on #64
`crate-template` sounds fine to me.

[2019-07-15 16:23] andreeaflorescu commented on #64
Created repo: https://github.com/rust-vmm/crate-template

[2019-07-16 14:03] bonzini commented on #33
I agree, also because you may have a VMM that doesn't need a SystemAllocator at all if the SystemAllocator's job is done by the firmware.

[2019-07-18 13:54] #51 closed

[2019-07-18 14:00] andreeaflorescu commented on #60
Sorry for the late reply. You do not need to be a member of rust-vmm to contribute to the project. We removed this practice and updated the [community readme](https://github.com/rust-vmm/community).

[2019-07-18 14:00] #60 closed

[2019-07-18 14:00] andreeaflorescu commented on #51
Sorry for the late reply. You do not need to be a member of rust-vmm to contribute to the project. We removed this practice and updated the [community readme](https://github.com/rust-vmm/community).

[2019-07-18 14:04] andreeaflorescu opened #68 "Update Readme: Guidelines for Crates Versions"
We should have a guideline for crates versions. This was proposed by @ktian1 in https://github.com/rust-vmm/community/issues/14#issuecomment-481932807

The guideline should probably be added to the community readme (or contributing.md).

[2019-07-18 14:05] andreeaflorescu commented on #14
The guidelines are now part of the [community readme](https://github.com/rust-vmm/community).
Created a separate issue regarding the version of crates #68

[2019-07-18 14:05] #14 closed

[2019-07-18 14:06] #56 closed

[2019-07-18 14:07] andreeaflorescu commented on #52
Sorry for the late reply. You do not need to be a member of rust-vmm to contribute to the project. We removed this practice and updated the [community readme](https://github.com/rust-vmm/community).

[2019-07-18 14:07] #52 closed

[2019-07-22 07:56] liujing2 commented on #33
Yep, such a dependency is not good for firmware case.

What's your opinion about device resource allocation owner? Currently, I think two options for vm-device,
- one for no-firmware that allocates device resource in DeviceManager when initializing and registering device, using allocate_callback given by vm-allocator.
- another one gives a light device registering API whose resources are allocated

[2019-07-22 09:41] andreeaflorescu commented on #33
@liujing2 I would propose a third one (it's in line with my previous comment: https://github.com/rust-vmm/community/issues/33#issuecomment-511375675):
- the DeviceManager registers devices for which the resources are already "allocated" by a third party crate. In this case the third-party crate can be either vm-allocator, something dummy or whatever else that depends on the scope and implementatio

[2019-07-22 14:42] jiangliu commented on #33
I like this idea.
The vm-device crate should concentrate on device operations, such read/write/suspend/resume/migrate etc, and all resources needed should be allocated/assigned by the vmm.
And for some types of resources, the VMM would not only allocate resources for device, but also need to provide methods to manage those resources. Take interrupt as an example, the VMM may need to provide an  In

[2019-07-22 14:44] jiangliu commented on #33
When enabling MSI for Virtio MMIO transport layer, I feel it's a good idea to decouple resource allocate from the vm-device crate. Otherwise we need to pass down the vmfd(need to setup MSI IRQ) to the device/device manager.

[2019-07-23 01:34] chao-p commented on #33
Dose this mean vm-device will consume `ResourceAllocator trait` defined in vm-allocator to request required resources? I would go further and even eliminate the necessary for vm-device's dependency on vm-allocator. The implementation would be:
- vm-device: define a `ResourceHelper` trait (you can choose a better name) that need VMM to pass in a instance of it and internally vm-device uses it to sa

[2019-07-23 08:35] andreeaflorescu commented on #33
No, quite the opposite. This means that vm-device will **NOT** depend at all on vm-allocator (not even on traits from vm-allocator). If you look at the high level, I am proposing almost the same thing as you are.

I would also prefer for the vm-device to define a `Resource` trait that needs to be implemented by all resources needed by a `Device`. I am not sure if this is feasible though, we will n

[2019-07-23 14:37] kapilt commented on #53
is there a reason there isn't a readme reference to this?  atm its only discoverable via searching the GitHub org `slack` most public references are to the mailing list and meeting minutes..

[2019-07-23 14:43] andreeaflorescu commented on #53
Not really, I think we have a permanent link to join the slack community. I'll add an issue to update the readme with this information.

[2019-07-23 14:45] andreeaflorescu opened #69 "Update Readme: Add Communication Channels"
We should add a section in the readme about how the communication channel that the rust-vmm community is using such as:
- Slack Channel
- email list
- weekly sync meetings

[2019-07-24 06:58] chao-p commented on #33
I'm not quite clear on what you mean on “`Resource` trait” and “generic resource type”. I guess it's better to show some pseudo code here. My though on 'ResourceHelper' trait would look like:
[code]
vmm will need to instantiate this trait and pass it to DeviceManager and then DeviceManger can call the methods on this trait to allocate the resources for device on creating.

[2019-07-24 07:42] andreeaflorescu commented on #33
@chao-p I was more aiming at having pre-allocated resources. Having a resource helper that is responsible for allocation still implies that the DeviceManager depends on a `allocator`, the only difference is that the `allocator` is defined in vm-device and not in vm-allocator.

This comment https://github.com/rust-vmm/community/issues/33#issuecomment-511375675 has the pseudocode for what I mean wit

[2019-07-25 04:17] vmsearch commented on #67
@yisun-git  the migration is in progressing?

[2019-07-25 08:49] yisun-git commented on #67
Yes, working on draft codes.

[2019-07-25 11:59] vmsearch commented on #67
Thanks your reply, Looking forward to your good news!

[2019-07-31 07:36] #69 closed

[2019-08-01 05:04] #64 closed

[2019-08-08 09:57] chao-p opened #74 "Crate Addition Request: vfio-bindings"
## Crate Name
vfio-bindings

## Short Description
Rust FFI bindings to Linux VFIO(Virtual Function I/O) generated using bindgen.

## Why is this crate relevant to the rust-vmm project?
Like kvm-bindings, the crate provides basic VFIO 'raw' system control interfaces.

[2019-08-08 10:06] chao-p opened #75 "Crate Addition Request: vfio-ioctls"
## Crate Name
vfio-ioctls

## Short Description
The crate provides safe wrappers over the VFIO API that generated in vfio-binding(#74).

## Why is this crate relevant to the rust-vmm project?
Like kvm-ioctls, this crate only provides common APIs and does not provide the end functionalities. Other VFIO crates should use this crate to add specific VFIO implementation support, one example is vfio-pci

[2019-08-08 10:09] chao-p commented on #74
We already implemented this in cloud-hypervisor(https://github.com/intel/cloud-hypervisor/tree/master/vfio-bindings) and want to push it to rust-vmm.

[2019-08-08 10:14] chao-p commented on #75
We implemented this and vfio-pci support in cloud-hypervisor (https://github.com/intel/cloud-hypervisor/tree/master/vfio) and want to push everything there except vfio_pci.rs to this crate. We expect some changes to make the code more generic.

[2019-08-08 10:20] chao-p commented on #57
Instead of having one crate to cover everything, I believe it's more useful to split this into several crates. I added vfio-bindings(#74) and vfio-ioctls(#75) which seems quite clear now. Other crate like vfio-pci may be added later when necessary.

[2019-08-11 15:05] jiangliu commented on #63
Hi, @sameo @andreeaflorescu @sboeuf @acatangiu
      I have push the first implementation for proposal at my personal github repository at:
https://github.com/jiangliu/vmm-epoll.git
      Please comment on the proposal:)
      We have unresolved discussion: whether to integrate this into the vmm-sys-utils crate or creating a dedicate crate. And the next step is to provide a multi-thread safe epoll

[2019-08-13 05:43] sameo commented on #75
One obvious consumer of the `vfio-ioctls` crate would be the PCI based VFIO implementation. I think the `vfio` crate should contain all bus specific implementations (PCI, platform/MMIO, etc). Each bus support could be disabled through a feature.

So we'd end up with 3 VFIO related crates:

1. `vfio-bindings` for the kernel VFIO API bindings.
2. `vfio-ioctls` for the safe wrappers over the VFIO bin

[2019-08-13 05:52] jiangliu commented on #75
I totally agree with 1 and 2, but have some concerns about 3.
For example, VFIO devices(maybe PCI or mdev devices) may be used to support PCI device passthrough and Virtio MMIO device passthrough. Instead of a vfio crate to implement both PCI and MMIO device passthrough, I think it may be better to split them into PCI crate and virtio crate.

[2019-08-13 06:13] sameo commented on #75
That's another, orthogonal way to do it. I'm not opposed to it, but what would it bring compared to having a vfio crate for it? With the former you bring a VFIO dependency into both the PCI and virtio crate. The latter builds the dependency tree the other way around: PCI and virtio become a vfio dependency.

[2019-08-13 06:17] sameo commented on #75
And it seems we're in agreement with creating the `vfio-ioctls` and `vfio-bindings` crates. So I'm all for creating them.

@andreeaflorescu are you also fine with that?

[2019-08-13 06:21] jiangliu commented on #75
Deal:)
Actually I have drafted the vfio-ioctls crate based on code from cloud hypervisor.
The main change is to support multiple groups per container, multiple device per group:)

[2019-08-13 11:50] sameo commented on #75
Sounds good. I assume you're talking about vfio/src/vfio_device.rs? Are you also adding unit tests? Do you need help with that?

[2019-08-13 11:55] jiangliu commented on #75
Yes, we have copied vfio_device.rs and vfio_ioctls.rs from cloudhypervisor and then made changes to vfio_device.rs. We are thinking about unit tests too, but it's a little hard because it has dependency on PCI hardware. Any good suggestions for unit and CI tests?

[2019-08-14 08:37] jiangliu commented on #74
Is there any difference between linux 4.19 and 5.0 for the VFIO subsystem?

[2019-08-16 01:34] sboeuf commented on #67
@yisun-git this is a very complete proposal :)

Regarding the name of the crate, shouldn't this be `vm-migration` instead of `vm-live-migration`? Including `live` in the name sounds a bit reductive since I think we can achieve both _regular_ and _live_ migration with this crate.

A bit similar to my first comment, I'm wondering if we shouldn't start with _regular_ migration instead of _live_ migra

[2019-08-16 09:23] andreeaflorescu commented on #67
My honest opinion is that it's too early to plan for live-migration when we don't even have the minimal crates in rust-vmm to create a dummy VMM. I also believe that live-migration depends (or better said) should depend on the implementation of devices and other components in rust-vmm. At this moment we don't have a high level design of how future and current rust-vmm components will interact. We

[2019-08-19 03:30] yisun-git commented on #67
Thanks for the comment!

Yes, snapshot can be treated as special case of live migration. At least, most codes could be same.

Yes, communication layer is independent. Although I have implemented the basic communication codes, I will consider your suggestions. Thanks!

[2019-08-19 03:39] yisun-git commented on #67
Live migration does depend on many components, e.g. the vcpu/devices/memory/etc. But rust-vmm does not have most of them now. Furthermore, rust-vmm does not have basic components now and miss a high level design. Shall we consider it and make a road-map ASAP?  I think live migration should be a good start to trigger the consideration and discussion.

Because rust-vmm lacks many components, I do no

[2019-08-19 06:58] andreeaflorescu commented on #67
Yes, I think we should start working on the roadmap and the high level design. That should speed up the development process. It would also be a great way to prioritize the work and making sure we are focusing on the right components. I will send an email about this as it was on my mind for quite some time now.

[2019-09-10 09:00] chao-p commented on #75
Any objection to create this and #74 ?

[2019-09-10 09:10] sameo commented on #75
I'm ok with both.

[2019-09-10 09:13] jiangliu commented on #75
I'm OK with both:)

[2019-09-10 09:15] sameo commented on #75
Done, closing that issue.

[2019-09-10 09:15] #75 closed

[2019-09-10 09:16] sameo commented on #74
Done, closing that issue.

[2019-09-10 09:16] #74 closed

[2019-09-11 12:20] jiangliu opened #76 "Crate Addition Request"
## vmm-serde

## Short Description
Build serde infrastructure to support snapshot, live migration and live upgrade

## Why is this crate relevant to the rust-vmm project?
A common requirement for virtual machine snapshot, live migration and live upgrading is to serialize
and deserialize VMM internal objects and data structures. The rust community has the excellent
serde/serde_derive framework for

[2019-09-28 01:21] kangxiaoning opened #77 "Rust crate Link not found"
The link `https://doc.rust-lang.org/book/ch07-01-packages-and-crates-for-making-libraries-and-executables.html` has expired, the new link is `https://doc.rust-lang.org/stable/book/ch07-01-packages-and-crates.html`.

[2019-09-28 01:38] kangxiaoning opened #78 "The slack invite link is no longer active"
The slack invite link `Slack: http://bit.ly/rust-vmm-slack` is no longer active.

[2019-10-15 08:20] sameo commented on #78
The link on the README is https://tinyurl.com/yyxm3rjh
It seems to work for me, could you please double check?

[2019-10-15 08:20] sameo commented on #77
@kangxiaoning Would you mind sending a PR for this? Sorry for the late reply.

[2019-10-17 17:33] dizz commented on #78
Doesn’t work here 😬

[2019-10-18 08:47] andreeaflorescu commented on #78
Yap, it doesn't work if you aren't already registered in the slack channel. Will update it with a permanent one.

[2019-10-18 08:49] dizz commented on #78
Cool! Thanks 😎

[2019-10-18 15:29] sandreim commented on #63
Hi,

I am also working on a epoll based IO event manager which is not based of any of the Firecracker code. We are trying to move from the EpollContext towards a more generic pattern of usage. The prototype implementation is based on a version of the Observer pattern that seems to work really well with Rust. The design is single threaded and supports cascaded epoll also.

The code is submitted in

[2019-10-20 08:25] andreeaflorescu commented on #78
Fixed by: https://github.com/rust-vmm/community/pull/79

[2019-10-20 08:25] #78 closed

[2019-10-22 07:41] npmccallum opened #80 "Crate Addition Request"
## Crate Name
`kvm`

## Short Description
`rust-vmm` has taken ownership of https://crates.io/crates/kvm. We are going to use this repo for the Lovingly Crafted Interface to replace `kvm-bindings`.

## Why is this crate relevant to the rust-vmm project?

Lovingly Crafted Interfaces will improve overall logical safety and make serialization of the types simpler.

[2019-10-22 08:07] npmccallum commented on #55
See: #80

[2019-10-22 10:24] andreeaflorescu commented on #80
Repository crated: https://github.com/rust-vmm/kvm

[2019-10-22 10:24] #80 closed

[2019-10-23 15:28] sameo opened #81 "Crate Addition Request: Emulated devices"
## Crate Name

Naming is hard...

`devices`
`devices-emulation`
`vmm-devices`

## Short Description

Gather all emulated devices implementations, i.e. all implementations for emulating actual, hardware devices. Some examples:

* PIO based devices: serial, cmos, i8042, etc
* Userspace IOAPIC
* USB devices

## Why is this crate relevant to the rust-vmm project?

Some VMMs need to emulate real, exist

[2019-10-23 15:48] sameo commented on #81
Another option, as suggested by @zachreizner, is to have a `devices` crate gathering *all* our devices, including the virtio ones.

[2019-11-04 12:41] andreeaflorescu opened #83 "Crate Addition Request: vmm-reference"
## Crate Name: vmm-reference

I am not good with names :(
Suggestions welcome.

## Short Description

This repository is the starting point for the rust-vmm VMM Reference Implementation. This crate will create a minimal VMM which can be extended in the future.

## Why is this crate relevant to the rust-vmm project?

This crate serves two purposes:
1. Test the integration of various rust-vmm crates

[2019-11-05 09:24] #77 closed

[2019-12-05 09:39] sameo commented on #63
@sandreim @jiangliu @andreeaflorescu Since it seems there is a need for this and that it's actually bigger than just something that could live under vmm-sys-util, I think we should go ahead and create a crate for that one.

[2019-12-05 16:30] andreeaflorescu commented on #63
Do we stick with the vmm-epoll name?

[2019-12-05 23:20] sboeuf commented on #63
Sounds fine to me!

[2019-12-09 05:44] sameo commented on #63
Yes, sounds good to me.

[2019-12-09 16:24] andreeaflorescu commented on #63
Done: https://github.com/rust-vmm/vmm-epoll

[2019-12-23 10:36] bonzini opened #84 "Document minimal required version of Rust"
vm-memory has some code that is gated behind features, or using external crates, in order to support Rust versions earlier than 1.34.0 (which lack `AtomicU*` types and `TryFrom`). It would be nice to have a clear statement of the earliest supported version of the language, so that people know when such workarounds have become obsolete.

[2020-01-07 07:18] michael2012z commented on #83
Hi, everybody,

I think there are more reason to create this new repository:
- Now the construction of vm-virtio and vm-device crates are more prioritized, but this reference implementation repository also need time to grow. We can do the jobs in parallel, don't have to wait until every other crates are ready.
- In kvm-ioctl repository, we begin to see some unit test cases were becoming complex, w

[2020-01-07 12:44] aghecenco commented on #76
Couple of questions:
* is the purpose of this crate to replace `serde`? If so, why reinvent the wheel (`serde` has a mature, stable community and is extensively used)? And if not, how would this new crate reduce the dependencies if it pulls in `serde` anyway?
* re:field access: isn't it easier to add serialization logic near the definition of the data structure? What I mean is: having a rust-vmm c

[2020-01-08 09:35] jiangliu commented on #76
It's not aimed to replace serde, but conditionally enable serde on demand.
One of the crate's purpose is to implement
#[cfg_attr(feature = "with-serde", derive(Deserialize, Serialize))]
with just
#[derive(Deserialize, Serialize)]

Different subsystems have different requirements on the way to serialize/deserialize an object.
Taking a KVM vcpu object as an example, snapshot/live migration needs to

[2020-01-20 18:31] evtHsa opened #85 "Access Request to rust-vmm"
looking to learn about rust-vmm
thanks

[2020-02-10 10:20] michael2012z opened #86 "Crate Addition Request: logging & metrics"
## Crate Name
vmm-logger

## Short Description
A crate that provides logging and metrics functionality.
Refer to Firecracker's good logger crate, with some extensions:

#### Logging
- 5 log levels: Error, Warning, Info, Debug, Trace.
- Output options: File, FIFO, Network (UDP).
- Tag: A filter option in case too much log are printed in some log level (quite probable for Trace and Debug level).
  -

[2020-02-10 10:22] jiangliu commented on #86
This is really needed, how about slog?

[2020-02-10 10:51] andreeaflorescu commented on #86
The configuration of the logger seems more of a VMM related activity and I don't see how this could be unified to serve multiple VMMs. I think we should stick with using the `log` crate where logs are needed. This way, each VMM can build it's own logger on top of that crate. Loggers are not necessarily vmm specific.

As for the metrics, we are talking about a re-design of the metric system we curr

[2020-02-10 10:54] jiangliu commented on #86
Yes, we are trying to decouple metrics and logs too. The Metrics should be per-component/per-subsystem instead of a globally defined instance:)

[2020-02-10 11:47] michael2012z commented on #86
Regarding metrics. Defining metrics per crate sounds a good design. So what we need is a basic metrics crate/framework to let each using-crate define their own metrics conveniently, right?

I am quite interested in how to enable/disable metrics from different crates in run time. Was it discussed in a public issue? Can you share a link to learn?

[2020-02-10 12:17] andreeaflorescu commented on #86
We just discussed this internally in the team, we don't have anything written yet. I might be able to write a short doc with my ideas some time this week. Would that be okay with you?

[2020-02-10 12:19] michael2012z commented on #86
That's great! Thank you very much.

[2020-02-11 02:50] MrXinWang opened #87 "Crate Addition Request: vmm-fdt"
## Crate Name
vmm-fdt (or vmm-arm-fdt? or any other better name :))
## Short Description
A crate that provides flattened device tree functionality (for arm).

There is already an example implementation in Firecracker. However it is also very nice to implement the device tree as a seperate crate so that users can decide whether they need this feature (as arm architechture users usually need fdt, wh

[2020-02-11 09:02] andreeaflorescu commented on #87
@MrXinWang It makes sense to have this as a crate, I just have a few comments:
- From what I know fdt can be used on other platforms as well, so there is no need to make it arm specific. Ideally we would have support for x86_64 even if there are other ways of discovering devices on other platforms.
- There is already a device-tree crate on crates.io so we maybe can work with the maintainer of that

[2020-02-11 09:18] MrXinWang commented on #87
Hi @andreeaflorescu ! Thanks for your comments :))

I highly agree.

Thanks very much for this information! We would love to work together :))) I will take a look at their source code first.

Yes of course. For now, I just used `cargo new --lib vmm-fdt` to create a project locally on my machine and referenced the Firecracker example implementation to finish the basic porting. Would be awesome to g

[2020-02-12 02:09] MrXinWang commented on #87
Also we noticed that there is another version of fdt in: https://docs.rs/crate/fdt/0.0.1/source/

[2020-02-12 08:53] andreeaflorescu commented on #87
Nice! We should check that out as well.

[2020-02-13 02:43] michael2012z commented on #87
Hi, regarding the requirement of the new FDT crate. In Firecracker, FDT crate is used to build ".dtb" file from created devices. Could this requirement be extended in Rust-VMM? Do we need to cover more functionality in the FDT crate?

[2020-02-14 02:30] MrXinWang commented on #87
Hi @andreeaflorescu !

Had some discussions with my colleagues who has experience in Firecracker community today. We think it is nice to do some code refactoring from the Firecracker project to extract all fdt common code and keep the "arch specific" code in different directories, as the FDT in Firecracker only support aarch64. By doing such code refactoring, we can support different architectures

[2020-02-14 10:16] andreeaflorescu commented on #87
Hey @michael2012z and @MrXinWang.

Let's take a step back and see what we actually want to achieve with this crate. I don't have a good answer here as fdt is not necessarily my strong point, but it looks like if we first define the requirements, the usage and the interface, we might be able to answer the above questions. I'll also try to find some time to talk with the more savvy people to get the

[2020-02-17 09:14] MrXinWang commented on #87
### Requirements:
**Use case:**
From the perspective of VMM, the `vmm-fdt` crate is used to handle the generation of the device tree blob when starting a VM kernel. When creating a VM with extra devices, these devices are firstly created and handled by the `vm-device` crate. The `vmm-fdt` crate should take charge of creating the corresponding device tree and compiling the resulting device tree to

[2020-03-04 19:26] wxdublin opened #88 "Access Request to rust-vmm"
This is Wei Xu (https://www.linkedin.com/in/wei-xu-9138471/) from ByteDance Silicon Valley Infrastructure Lab. I am a virtualization veteran, for example, I was the architect of Fireeye MacOS sandbox engine based on KVM and Qemu. I am responsible for the next generation virtualization of ByteDance and so would like to actively participate in the Rust-VMM open source and make contributions to the c

[2020-03-05 11:05] andreeaflorescu commented on #86
Hey everyone, I've written a design doc for a decentralized metric system. You can find the design in the [README.md](https://github.com/andreeaflorescu/metrics-proposal/blob/master/README.md) file and a dummy example in the [repository](https://github.com/andreeaflorescu/metrics-proposal).

I don't see the metrics being something so big that it needs its own crate, so one proposal would be to add

[2020-03-06 05:58] michael2012z commented on #86
Thank you very much for sharing this.
I will save it and study a while later, after the running days this week. :)

[2020-03-06 14:10] andreeaflorescu opened #89 "Crate Addition Request: vm-superio"
## Crate Name: serial-console

## Short Description

This crate provides emulation for legacy serial console. We can start off with the emulation we currently have in Firecracker and add support for other implementations if that's needed.

This crate will depend on vm-device so that it can implement `DeviceIo` and `vmm-sys-util`.
As in Firecracker we also use metrics for this device, I was thinkin

[2020-03-06 14:12] andreeaflorescu commented on #63
Repository created. Closing this issue.

[2020-03-06 14:12] #63 closed

[2020-03-06 14:13] andreeaflorescu commented on #33
Repository created. Closing this issue.

[2020-03-06 14:13] #33 closed

[2020-03-06 14:14] andreeaflorescu commented on #19
Repository created. Closing this issue.

[2020-03-06 14:14] #19 closed

[2020-03-06 14:18] andreeaflorescu commented on #85
Hey @evtHsa. All the resources of rust-vmm are publicly available so you do not need any access request to use rust-vmm. If you need help with anything, you can also ping us on Slack or write an email to rust-vmm@lists.opendev.org.

[2020-03-06 14:18] #85 closed

[2020-03-06 14:20] andreeaflorescu commented on #88
Hey Wei Xu, glad to have you here! Contributions to rust-vmm are open to everyone, you do not need any special access. Let us know if you need help with anything. Besides the community repo, if you want to get in touch with the rust-vmm community, you can ping us on Slack or write an email to rust-vmm@lists.opendev.org.

[2020-03-06 14:20] #88 closed

[2020-03-07 00:18] sboeuf commented on #89
That'd be great to have the serial device implementation provided by rust-vmm, but do we want this to live in its own crate?
I mean I can think of the i8042 or the CMOS device which are also what we could call legacy devices and it might make sense to group them together. WDYT?

[2020-03-07 00:52] bonzini commented on #89
I agree that a generic vm-superio or vm-isa crate makes the most sense.

[2020-03-07 03:51] jiangliu commented on #89
Yeah, a generic vm-superio with feature bits is welcomed:)

[2020-03-08 11:57] alexandruag opened #90 "Versioned (de)serialization support"
Hi everyone,

As part of the ongoing snapshotting efforts in Firecracker we found ourselves in the position to tackle versioned serialization of objects. For example, this is required when restoring state saved by an older version of the application in a newer one, if state representation changes between versions.

We want to find an approach that's generic enough to be applied to any object that

[2020-03-09 06:11] michael2012z commented on #86
Hi, @andreeaflorescu , Thank you very much for sharing the design. The idea is clearly described in the document and example code.

I have a concern regarding the flushing of metrics data. In this decentralized system, each component involving metrics has to flush its own data.  Like the example code: https://github.com/andreeaflorescu/metrics-proposal/blob/master/vmm/src/lib.rs#L35 , the VMM need

[2020-03-09 07:49] andreeaflorescu commented on #89
Sounds good to me. I'll create a vm-superio crate.

[2020-03-09 08:41] andreeaflorescu commented on #86
The VMM needs to only flush the metrics corresponding to its direct dependencies. This is exemplified in the design doc [here](https://github.com/andreeaflorescu/metrics-proposal#hierarchical-metric-system). The photo was previously missing as I forgot to add it to the commit. I am expecting each component to have a manageable list of sub-components, but if that's not the case, it should be the re

[2020-03-09 09:22] michael2012z commented on #86
I am so sorry, I missed that part. Yes, you have considered about it.

The hierarchical design looks good.

[2020-03-09 09:31] andreeaflorescu commented on #89
Created repository: https://github.com/rust-vmm/vm-superio

[2020-03-09 09:31] #89 closed

[2020-06-16 08:12] andreeaflorescu opened #92 "Add contributing guidelines"
Add a document for stating the contributing guidelines. These can also include things like:
- signing your commits (which should nevertheless be tested by the CI)
- following the 50/72 guideline for commit message (also should be enforced by CI)
- linking the issue that the commit is fixing (so that we can trace back commits to issues & PRs)
- other things that people might find important :D

[2020-06-16 08:24] aghecenco commented on #92
see also https://github.com/rust-vmm/rust-vmm-ci/issues/14

[2020-06-26 05:24] sameo commented on #83
Maybe a good starting point: https://github.com/CleverCloud/simple-vmm

[2020-06-26 07:01] andreeaflorescu commented on #83
@michael2012z thanks for the proposal.

At this point I think people are aligned with having a rust-vmm reference implementation, so we can create the repository. We just need to align on the name.

I very much prefer for it to be called rust-vmm reference implementation and not glue because I am dreaming big:
- this repository should be used as a starting point to create specialized VMMs; this me

[2020-06-28 02:55] michael2012z commented on #83
Hi, @andreeaflorescu

It's really nice to have more discussion on this topic.

"**be used as a starting point to create specialized VMMs**" is a wonderful idea. The reference implementation will be more useful if people can use it to build VMM. We can design some mechanism to customizing or plugging-in to achieve this. The idea of "glue" is more like a demo to show how to integrate every component

[2020-07-17 14:34] alexandruag opened #93 "Proposal to increase the scope of testing before publishing"
Hi everyone!

As development continues in rust-vmm, it becomes increasingly important to have tests which detect regressions, help quantify performance improvements, and ensure the code remains robust under load. Going forward, we propose that crates must have performance/stress tests before being published on [crates.io](http://crates.io/).

We currently plan to add such tests for `event-manager`

[2020-07-21 10:43] jiangliu commented on #86
Do we want to build a new logger system from ground or make use of some existing log framework, such as slog? I feel slog is flexible enough.
For metrics, is it ok to support Prometheus?

[2020-07-21 12:17] andreeaflorescu commented on #86
I would prefer to use `log` and then allow the VMMs to select their own backend. Do you have something else in mind? I took a glance at `slog` and it doesn't look like it's built on top of log, hence we would need to

Can you expand on what is needed to support Prometheus? Is it just a metrics aggregator?

[2020-07-24 03:08] jiangliu commented on #86
Yes, slog and log have different design, though slog has adaptors to work with log crate.
The most valuable features of slog is that we could attach key/value pairs to each log messages, which helps log analyzers.
And it's true that we should focus on logger frontend for rust-vmm crates and let VMMs to choose the backend.

In addition to Prometheus servers, it also provides several client side lib

[2020-08-04 03:01] kailun-qin commented on #62
Hi @npmccallum and @andreeaflorescu ,
I have made a follow-up work for this based on [enarx](https://github.com/enarx/enarx) project. Please kindly let me know if any comment or suggestion. Thanks a lot.

[2020-08-04 14:48] andreeaflorescu commented on #62
@kailun-qin thanks for the PR! I'll take a look in a couple of days. I need to ramp up on what's up with SEV first :))

[2020-08-10 19:02] andreeaflorescu opened #94 "Add documentation about how to update rust-vmm-ci"
Add contribution guidelines about how to update the rust-vmm-ci version.

We could make it easier to trace changes by listing the summary of newly introduced commits. This can be in a contributing.md file, along with other thing we find useful.

Example of such commit: https://github.com/rust-vmm/event-manager/commit/90b55ec098f1675aac1a06be0aaeae9109ecb64d

[2020-08-11 09:38] andreeaflorescu commented on #94
Instructions:
1. Get the commit sha of the current commit. The following commands need to be run in the git repository where the submodule needs to be updated:
[code]

2. Get the pretty print of commits:
[code]

3. Add the submodule update to a new commit:
[code]

For the commit message use the text from step 2, but remove any branch information that it might contains. The text should only have a

[2020-08-12 16:45] andreeaflorescu commented on #86
@jiangliu I've created a PR with the metric interface that I was talking about before: https://github.com/rust-vmm/vmm-sys-util/pull/94

I looked at Prometheus as well, it is pretty cool! It does add a few dependencies though, so I would not include it in default builds of rust-vmm. I looked at the examples that they have on github, and it looks like the `Metric` interface that I'm proposing in ht

[2020-08-13 09:28] #94 closed

[2020-08-24 08:33] aghecenco commented on #83
The [`vmm-reference`](https://github.com/rust-vmm/vmm-reference) crate is up - @michael2012z let's pick up the design discussions here: https://github.com/rust-vmm/vmm-reference/pull/1

[2020-08-24 08:33] #83 closed

[2020-09-03 09:57] andreeaflorescu opened #98 "Crate Addition Request: kvm"
## Crate Name: kvm

## Short Description

The kvm repository can be a rust workspace containing kvm-ioctls and kvm-bindings crates.

## Why is this crate relevant to the rust-vmm project?

Hosting both crates in the same repository allows us to have a few simplifications. The kvm-bindings cannot really be tested independently and kvm-ioctls are using a fixed version of kvm-bindings. We can still p

[2020-09-03 10:00] rbradford commented on #98
:+1: I think consolidating is a great idea.

[2020-09-03 10:06] jiangliu commented on #98
Agree, a workspace for both kvm-bindings and kvm-ioctls may help to reduce maintain efforts.

[2020-09-03 14:53] aghecenco commented on #62
Hey @kailun-qin, I looked over your PR too, there's one thing that stands out in particular - it introduces a dependency of the `sev` crate, which, if I got it right, is the one embedded in [`enarx`](https://github.com/enarx/enarx/tree/e044d49cb8c0e19bad8cf98b42129ff89bed1d8e/sev). If that's the case, it introduces a consumption issue, because:
* Cargo can't consume `sev` from  the `enarx` repo be

[2020-09-03 15:06] npmccallum commented on #62
@aghecenco Yes. We are stabilizing `sev` over the next few weeks and pushing a release since we are close to our first release of `enarx-keepldr` (which depends on `sev`).

[2020-09-03 15:11] npmccallum commented on #62
@aghecenco Also, I *think* our upcoming changes to the `sev` API would make the linkage to rust-vmm indirect through the `AsRawFd` trait (we only need the file descriptor of the VM).

[2020-09-03 16:15] sboeuf commented on #98
Cool :+1:

[2020-09-04 01:57] kailun-qin commented on #62
Thank you all for the feedbacks and review comments.
I've already seen that [https://github.com/enarx/enarx-keepldr](url), [https://github.com/enarx/sev](url) and [https://github.com/enarx/sevctl](url) are published out! Let's wait a while and see how to move this forward.

[2020-09-09 02:27] jiangliu commented on #86
@andreeaflorescu thanks for the great proposal. The overall design is ok, and should be easy to adopt.

[2020-09-09 09:55] andreeaflorescu commented on #98
I've created a repo here to see how things are going: https://github.com/andreeaflorescu/kvm
I have no idea how I can keep the commit history of the initial repositories :( if anyone can help here, I'd be grateful. Otherwise it will all be wiped (sorry).

There are still a few things to do so and the work is non-negligible (setting up proper CI, documentation, update Cargo.toml of the individual c

[2020-09-09 10:04] rbradford commented on #98
@andreeaflorescu Look into `git filter-branch`

[2020-09-14 08:23] slp opened #99 "Crate Addition Request: vhost-user-backend"
## Crate Name

vhost-user-backend

## Short Description

`vhost-user-backend` extends `vhost` implementing the common infrastructure required by vhost-user devices. It provides the `VhostUserBackend` trait, that must be implemented by crates providing a device personality, and a multi-thread `VringWorker` to abstract low-level queue operations from the upper layers.

This would be based on [Cloud

[2020-09-14 08:45] andreeaflorescu commented on #99
+1 on creating the repository.

It looks like the repository in Cloud Hypervisor has a git referenced dependency on a vm-virtio fork from CH. Maybe we can add the required changes in rust-vmm/vm-virtio, so that the dependency is not needed anymore. We can discuss this on the PR that introduces the code though :D

[2020-09-16 12:05] slp commented on #99
Yes, I have some commits here to make vhost-user-backend use rust-vmm/vm-virtio instead.

BTW, how many approvals are needed for greenlighting the creation of the repository?

[2020-09-16 12:19] andreeaflorescu commented on #99
We were typically waiting for 2. @sameo are you okay with creating this as well?

[2020-09-16 15:45] jiangliu commented on #99
+1

[2020-09-17 09:00] andreeaflorescu commented on #99
@slp we are now creating all new repositories using the crate-template: https://github.com/rust-vmm/crate-template

If I also create this repository from the template, I am not sure if you'll then be able to add a PR with the commits from the existing code in Cloud Hypervisor. There might be some conflicts that you'll need to fix manually. Are you okay with that? Or should I just create an empty r

[2020-09-17 09:18] rbradford commented on #99
I would like to see the version of the code in cloud-hypervisor ported to rust-vmm vm-virtio before it is split out. Otherwise we will end up with another divergent repository.

[2020-09-17 09:27] slp commented on #99
Yes, let's go with the template and I'll try to rebase the commit history without generating too much noise. Worst case scenario, we can always remove the repo and recreate it empty.

[2020-09-17 09:30] slp commented on #99
I can create a draft (we're still missing https://github.com/rust-vmm/vm-virtio/pull/21 and deriving `Clone` for `DescriptorChain`) PR in `cloud-hypervisor/vhost-user-backend` to discuss the changes over there.

[2020-09-17 09:37] andreeaflorescu commented on #99
Ok, sounds good to me.

@rbradford are you okay with these next steps?
- me to create a repo starting from crate-template
- @slp  to create a draft PR with the code; we can block on merging until we are clearing out the vm-virtio patches

[2020-09-17 09:40] sameo commented on #99
Sure, but I agree with @rbradford that we need to have the cloud-hypervisor crate point to rust-vmm/vm-virtio before sending any PR to it.

[2020-09-17 10:51] andreeaflorescu commented on #99
@sameo RFC should be fine though, cause they're not mergable, right? The RFC are good for having people take a look at them.

[2020-09-17 10:51] andreeaflorescu commented on #99
Created repo: https://github.com/rust-vmm/vhost-user-backend

[2020-09-25 02:11] gurjeet commented on #98
@andreeaflorescu , FWIW, I'm researching ways to merge the two repos while keeping the history. As of now I have investigated and ruled out the option of `Subtree Merging` as described [here](https://git-scm.com/book/en/v2/Git-Tools-Advanced-Merging).

AIUI, you want `kvm-bindings` repo to be a subdirectory of `kvm-ioctls` repo. Correct? I am not sure of its implications on being able to serve bot

[2020-09-25 06:51] andreeaflorescu commented on #98
Not really, I would like kvm to be workspace with two crates: kvm-ioctls and kvm-bindings. I do not want kvm-ioctls containing the bindings (at least not for now). The structure I was looking for is here: https://github.com/andreeaflorescu/kvm

[2020-09-25 13:42] andreeaflorescu commented on #99
Closing this. Discussions should be moved to the repository.

[2020-09-25 13:42] #99 closed

[2020-11-18 21:11] connorkuehl commented on #62
This is now the case for the `sev` crate. [Here's an example of an SEV VM launch](https://github.com/enarx/sev/blob/master/tests/launch.rs#L71) using `kvm-ioctls`, passing in the `VmFd` as an `AsRawFd` trait object; there are no hard dependencies on any KVM ioctl implementation. So, someone could just pick their favorite KVM ioctls crate and the `sev` crate would interoperate with it without any f

[2020-11-18 21:32] connorkuehl commented on #98
I played around with this, but the caveat for my solution is that the history of one repo gets stacked on top of the history of the other repo.

[code]

[2020-11-19 08:55] andreeaflorescu commented on #98
@connorkuehl thanks for the suggestion! I don't really see a problem with that. I guess what is important is to have a history. If people are going to look at the full history, it will look confusing, but otherwise I think that is a neat solution! I'd say we go with it. @rbradford @jiangliu @sboeuf do you have something else in mind?

[2021-02-10 08:26] alishir opened #102 "Slack invitation link is not valid anymore."
Hi,
I tried to join the slack channel but it seems that the invitation link in the README file is not valid anymore.

[2021-02-10 08:37] andreeaflorescu commented on #102
I am trying this one and it seems to be working: https://rust-vmm.slack.com/join/shared_invite/enQtODAxMzA2ODIyMTc2LWRhYjIwZmQ0YzUxODJlMTRhZWU2ZDBjYmJiNzBmOWVmYjg4MjY5YWRjYjM0YzQ5YzgyMTBmYzNlMjMzYmZlODU#/

Are you getting an error with it?

[2021-02-10 08:39] alishir commented on #102
Thanks a lot. It works fine.

[2021-02-10 08:39] #102 closed

[2021-03-08 08:48] sameo commented on #57
We can close that one now, we have the vfio-ioctls and vfio-bindings crates.

[2021-03-08 08:48] #57 closed

[2021-03-08 09:00] sameo opened #103 "Crate Addition Request: PCI emulation"
## Crate Name

`pci`

## Short Description

A PCI host bridge emulation.

## Why is this crate relevant to the rust-vmm project?

* Support for using PCI as a dynamic device enumeration bus for rust-vmm guests
* Support for PCI device emulation
* Support for device passthrough, in combination with the `vfio` crates

[2021-03-08 09:18] andreeaflorescu opened #104 "Logging & metrics"
TBD description.

[2021-03-09 22:05] danielverkamp commented on #87
I recently rewrote the crosvm FDT support in native Rust (previously it was a wrapper around libfdt), and I would be happy to help integrate it into a vmm-fdt crate if it looks useful:

https://chromium.googlesource.com/chromiumos/platform/crosvm/+/refs/heads/main/arch/src/fdt.rs

This currently only provides an API for writing a device tree from scratch (not reading or modifying in place), so it

[2021-03-10 07:39] andreeaflorescu commented on #87
Thanks @danielverkamp! Nit on the name, can we use `vm-fdt` to be in tone with the other rust-vmm components? I'll wait for a few more people to chime in, and then create the repository!

@MrXinWang I'm sorry for not answering this in a reaaaaally long time. It got de-prioritized, and we never got around to it.

[2021-03-10 07:50] MrXinWang commented on #87
Thanks @danielverkamp, beautiful work!

No problem @andreeaflorescu. Good to see we can restart the progress here.

[2021-03-12 08:20] andreeaflorescu commented on #87
@danielverkamp I've created the `vm-fdt` repo: https://github.com/rust-vmm/vm-fdt.

@sameo and @jiangliu had some concerns related to the name (i.e. it is not a VM-specific functionality), but we couldn't find a better name. We can later rename it (before publishing to crates.io).

Closing this issue, let's continue the design discussion in the repo directly.

[2021-03-12 08:20] #87 closed

[2021-04-26 08:21] alindima opened #105 "Crate Addition Request - seccompiler"
## Crate Name

`seccompiler`

## Short Description

Name origin: short for "seccomp compiler" or word play of the fact that it brings seccomp to applications, essentially "seccompiling" them (if that was even a word).

Seccomp filters are BPF programs that the kernel loads on the calling thread, via the `prctl` or `seccomp` syscalls, in order to restrict the system calls that the given thread can

[2021-04-26 08:32] alindima commented on #105
CC: @rbradford

[2021-04-26 12:23] jiangliu commented on #105
+1

[2021-05-05 09:24] jgowans commented on #105
This will be great to have; my team would be keen to use this.

Our use case is a statically linked (musl) binary cross compiled for x86 and aarch64. Because we're statically linking and using only a single version, the interface which allows specifying the syscall allow list directly in the code would be the one that we'd be keen to use. Similar to how it's done in Firecracker at the moment. That

[2021-05-06 12:08] alindima commented on #105
Thanks for your input @jgowans I think it would be nice to provide both the full library interface (similar to how Firecracker and Cloud Hypervisor are using it right now), and the seccompiler binary, so that the crate would satisfy more usage models.

I'm curious what folks from Cloud Hypervisor think about this. I remember you were also looking to keep the filters embedded in the VMM source code

[2021-05-06 12:10] rbradford commented on #105
In Cloud Hypervisor we want to continue to use the programmatic approach without external files or parsing JSON at runtime.

[2021-05-10 07:31] vireshk opened #106 "New crate for vhost-user-i2c"
## Crate Name
vhost-user-i2c

## Short Description

This program will be a vhost-user backend that emulates a VirtIO I2C bus. This program takes the layout of the i2c bus and its devices on the host OS and then talks to them via the /dev/i2c-X interface when a request comes from the guest OS for an I2C or SMBUS device.

## Why is this crate relevant to the rust-vmm project?

This is part of a wide

[2021-05-12 05:21] slp commented on #106
Both the Stratos project and vhost-user-i2c look really interesting. I think it'd be nice to have this crate on rust-vmm.

[2021-05-13 10:29] jiangliu commented on #106
The Stratos project sounds interesting, it would be great for rust-vmm to host the vhost-user-i2c. I2C/SMBus is a little weight management bus, it's a little heavy for vhost-user-i2c to map all VM's guest memory. It would be great to constraint the guest memory range to support virtio-i2c, such as preallocating and  registering data buffers used by the virtio-i2c driver?

[2021-05-14 08:25] acatangiu opened #107 "Crate Addition Request - Token bucket based rate limiter"
## Crate Name

`rate-limiter`

## Short Description

A token bucket based rate limiter to enable inline rate limiting of device IO.
As an example see Firecracker implementation [1].

## Why is this crate relevant to the rust-vmm project?

VMMs can make use of this crate to implement IO rate limiting for their emulated devices.

[1] https://github.com/firecracker-microvm/firecracker/tree/main/src/r

[2021-05-14 08:26] rbradford commented on #107
:+1: We use this in CH.

[2021-05-17 09:06] acatangiu commented on #107
Actually, I've updated the proposed name `rate-limiter` -> `io-rate-limiter` since we target a simple IO-specific implementation limiting on `bandwidth` and `iops`, and not a generic rate-limiter crate.

[2021-05-17 09:07] acatangiu commented on #105
+1

[2021-05-17 09:08] acatangiu commented on #103
Is this PCI or PCIe like CH uses?

[2021-05-17 09:10] acatangiu commented on #98
+1

[2021-05-17 09:40] jiangliu commented on #103
+1

[2021-05-17 09:59] sameo commented on #103
Most likely PCI-e if we want it to support modern PCI-e devices passthrough and have them being exposed as such.

[2021-05-17 11:36] acatangiu commented on #103
Sounds good! +1

[2021-05-17 15:51] sboeuf commented on #106
Summarizing the rust-vmm community discussion:
- Community is okay with this crate, but it would be part of a common repo (`vhost-device`) in order to get all vhost-user devices grouped together as a common workspace.
- Community won't accept a `vhost-user-i2c` implementation until it is merged in Linux upstream (meaning approval from VIRTIO maintainers).

[2021-05-18 13:16] sameo commented on #103
Everyone is ok with simply calling it `pci`? Or do we want to be fancy with `vmm-pci` ?

[2021-05-18 13:29] andreeaflorescu commented on #103
`pci` is already taken on crates.io. The other crates are named `vm-something`. Should we use the same naming convention?

Do we envision multiple pci related crates? And in this case should we create a repository `pci-ws` (or something like that) which would then contain a single crate called `vm-pci` (or the name we decide to give it)?

[2021-05-18 13:36] sameo commented on #103
I don't think we need several pci related crates. So I vote for `vm-pci`.

[2021-05-19 10:54] vireshk commented on #106
Fair enough. So how should I proceed for that, as I can clearly see that there is no such repository already in place.

The virtio spec is already updated with i2c specs, and the I2C maintainer is going to apply the patch soon, I haven't seen any objection from virtio maintainers for the same.

[2021-05-19 10:58] sboeuf commented on #106
I think @andreeaflorescu can follow up on this.

That's really good :)
So I guess it shouldn't take too long to get your patches merged in Linux upstream, right?

[2021-05-19 11:01] vireshk commented on #106
Thanks for the encouragement. I think there was a discussion around fat-virtqueues for solving the problem you mentioned.

https://projects.linaro.org/browse/STR-15

[2021-05-19 11:02] arndb commented on #106
This issue is separate from the particular virtio protocol on top of the virtio transport. The buffer management is part of the virtqueue implementation that is shared between all virtio devices. I'm working on a prototype for extending the virtqueue spec to support passing all data in a single buffer for both the descriptors and the user data, under the "fat virtqueue" name for the moment. Once I

[2021-05-19 11:05] vireshk commented on #106
The Linux patches are from Jie Deng (Intel). Wolfram (I2C maintainer) said that he is going to look at them soon, I hope them to be part of next rc1.

https://lore.kernel.org/linux-i2c/226a8d5663b7bb6f5d06ede7701eedb18d1bafa1.1616493817.git.jie.deng@intel.com/

[2021-05-19 11:08] slp commented on #106
Is this decision set in stone? Repositories are cheap, what are the advantages of using a single one for all the vhost-user device? Do those advantages overcome the problems (mixed commits, packaging the crate will ship all devices)?

[2021-05-19 11:48] andreeaflorescu opened #108 "Decide where to add device implementations (workspace vs separate repo)"
During the rust-vmm sync meeting on 2021-05-17 (you can find the meeting notes [here](https://etherpad.opendev.org/p/rust-vmm-sync-2021)), we discussed about where to add vhost device implementations. The discussion was triggered by the request to create the [vhost-user-i2c repository](https://github.com/rust-vmm/community/issues/106).

The reason we discussed about having a workspace for vhost de

[2021-05-19 11:48] andreeaflorescu commented on #106
It's set in stone, it's something that we discussed at the rust-vmm sync meeting, but since not everyone can join, I think decisions taken there can be reverted IMO. We should probably take a more informed decision and balance out the advantages and disadvantages of each approach.

Repositories are not necessarily cheap, they have an associated maintenance cost (which is probably hidden for most p

[2021-05-19 12:12] slp commented on #108
I'm replying to the comment in https://github.com/rust-vmm/community/issues/106#issuecomment-844025779 here:

Yes, you're right, I forgot about CI.

On a second thought, I don't expect vhost-user devices to become very large (except for virtiofsd-rs, which is already on its own repository), so this shouldn't be that bad.

This was my main concern, but seeing that the idea is to use a workspace wit

[2021-05-20 03:48] vireshk commented on #108
FWIW, I am absolutely fine with having a single repo and do feel it is better that way. Please lemme know how should I proceed on this. I am new to the whole rust thing but understand that it is based on pull requests only. So once I have a bare repository, I can base of that and send a pull requrest.

The Linux driver is still to be applied by I2C maintainer, but since the virtio-spec is already

[2021-05-20 03:51] jiangliu commented on #108
@andreeaflorescu @sameo could help to setup the initial repository, then normal PRs for following work.

[2021-05-20 06:59] andreeaflorescu commented on #108
@vireshk we're behind with the documentation for our processes. I just started a write up for this here: https://github.com/rust-vmm/community/pull/109.

[2021-05-21 10:34] vireshk commented on #108
Thanks. I hope you will be creating the empty repository though, against which I can send my pull request ?

[2021-05-21 11:10] andreeaflorescu commented on #108
Yes, I am a bit behind with some other high prio work items. In case @sameo cannot create the repository, I can do that on Tuesday.

[2021-05-21 11:11] vireshk commented on #108
Excellent. Thanks @andreeaflorescu

[2021-05-24 10:00] petreeftime commented on #105
A `compile!` macro that builds the filter from an inline string or file at buildtime sounds great, but having to deploy multiple files is less desirable.

[2021-05-26 07:20] andreeaflorescu commented on #106
I created the vhost-device repository: https://github.com/rust-vmm/vhost-device

This is created from the template, but the `Cargo.toml` will need to be updated to support rust workspace. @vireshk would you like to do that? If you need help, let me know.

[2021-05-26 07:20] andreeaflorescu commented on #108
Since it looks like we are in agreement, I created the vhost-device repository: https://github.com/rust-vmm/vhost-device. I am closing this issue.

[2021-05-26 07:20] #108 closed

[2021-05-26 14:51] andreeaflorescu commented on #106
The discussion is now moved in the [vhost-device repo](https://github.com/rust-vmm/vhost-device/pull/1). Closing this issue.

[2021-05-26 14:51] #106 closed

[2021-06-01 13:54] acatangiu commented on #107
I have an initial design proposal (very similar to what Firecracker and Cloud-Hypervisor currently use): https://github.com/acatangiu/ratelimit-asyncio#readme

@andreeaflorescu can you help with a new repository so we can have the design discussion on a _issue_ there?

[2021-06-11 10:27] alindima commented on #105
Repository was created: https://github.com/rust-vmm/seccompiler,
I will post a PR with the Readme, that includes the full design, in the following days

[2021-06-11 10:27] #105 closed

[2021-06-14 16:55] russell-islam opened #110 "Crate Addition Request: Microsoft Hypervisor wrappers"
## Crate Name
mshv-{bindings,ioctls}
## Short Description
These two creates will be under a workspace named as MSHV and these crates are similar to kvm-{bindinmgs,ioctls). These crates will provide the APIs and definitions to create a VMM on Microsoft Hypervisor along with other rust-vmm creates.
reposity pattern should be as follow.
`
mshv ----|----------mshv-bindings
               |

[2021-06-22 14:02] andreeaflorescu commented on #110
Since we already discussed about this at the sync meeting, I'll go ahead and create the repository. All repositories are created from the crate-template, and that is targeted to individual crates. There will be a few updates needed to convert it to a workspace.

If you need help, please let us know.

[2021-06-22 18:26] russell-islam commented on #110
Thanks for the response. Since the crates are already in working condition with Cloud Hypervisor do think I can keep all the previous commits while I move the code here. I can make workspace and folder structure done in initial commits then cherry-pick the commits.

[2021-06-23 10:12] andreeaflorescu commented on #110
@russell-islam sounds good. Can you open a PR with them?

[2021-06-23 22:15] russell-islam commented on #110
PR: https://github.com/rust-vmm/mshv/pull/2

[2021-06-24 07:06] andreeaflorescu commented on #110
We can close this issue and move the conversation on the PR.

[2021-06-24 07:06] #110 closed

[2021-06-24 22:02] Gaelan opened #111 "Handling of breaking changes"
Recently, we've had two commits to vhost (https://github.com/rust-vmm/vhost/commit/a8ff939161d41fc2f449b80e461d013c1e19f666 and <https://github.com/rust-vmm/vhost/commit/9982541776a603d30556a06df55e8c0491072763>) that caused vhost-user-backend to stop compiling. I don't think we should be discouraging breaking changes—we're still in early stages of the project here, and I think it's more important

[2021-06-25 07:25] andreeaflorescu commented on #111
This is a really good point!

I find the option to of publishing non production crates on crates.io dangerous because only we know what non production means (assuming we would come up with some sort of convention to mark it as non production ready). For other consumers being published to crates.io means that it can be used without (known & major) risks. It can also be that other people build on to

[2021-06-26 09:30] Gaelan commented on #111
I think if we published crates with a pre-1.0 version number and a prominent note in the README, it would be pretty hard to depend on it without knowing what you're getting into. It might also help to use "prerelease" semver versions such as `0.1.0-alpha.1`, which I understand are even harder to install accidentally.

I don't think this really creates much of a new risk. There are plenty of bad th

[2021-08-23 14:44] lauralt opened #116 "Save/restore state"
We should decide on how we want to save/restore the state in rust-vmm such that the proposal has a clean design and can be easily integrated in VMMs.

[2021-10-13 07:04] andreeaflorescu commented on #58
Crate created, but currently archived as there was no activity there. Once we restart work on it we can unarchive the repository. Closing this issue.

[2021-10-13 07:04] #58 closed

[2021-10-27 14:00] andreeaflorescu opened #121 "Crate Addition Request: vm-vcpu-ref"
## Crate Name: vm-vcpu-ref

## Short Description

This crate provides the primitives needed for setting up a VM for booting Linux. These include:
- a basic filtering for cpuid
- setting up the MP Table
- setting up the GDT
- setting up the registers & interrupts that are specific to x86_64 and aarch64
- `KvmVm` and `KvmVcpu` structures that can be either used directly in other VMMs, or otherwise c

[2021-11-01 14:35] jiangliu commented on #121
I still like the original abstraction of "arch" or "vm-arch". The proposed crate may covers too much vmm specific logic, which may make it hard for reuse.

[2021-11-01 15:40] andreeaflorescu commented on #121
We can discuss about splitting this in 2 crates:
- one that handles the gdt, cpuid, gic and so on
- one that exports the KvmVm & KvmVcpu abstractions

We would still like to have an independent vm-vcpu-ref (or another name that is more appropriate), that can provide a default and extendable implementation of setting up the vcpu & vm for booting. This would not be a leaf crate (i.e. it will not be

[2021-11-01 15:52] jiangliu commented on #121
I'm used to Linux source code structure:)
"gdt, cpuid, gic " should be common enough, but I'm not sure whether vm/vcpu is in the same situation, especially there are multiple hypervisors (kvm, hyperv, or maybe Xen). To be honest, I have read code related to HyperV yet.

Maybe I misread your proposal. The way to configure vm/vcpu should be common enough, but the way to control vCPU may be different

[2021-11-01 15:55] andreeaflorescu commented on #121
Oh yeah, I totally agree with you, handling the run of vcpus is very much product specific. That will not be included in the initial crate. I was working on abstracting that part away (and so far I miserably failed :laughing: which is why I am not even considering running the vcpus to be part of the crate). There are just too many things that are product specific that need to happen before running

[2021-11-01 15:58] andreeaflorescu commented on #121
The code that is currently in vm-vcpu-ref is not the code that we want to upstream. There are several improvements needed, and not all the functionality there is actually to be upstreamed. Parts of it will stay as product specific code.

[2022-02-07 14:53] andreeaflorescu commented on #103
https://github.com/rust-vmm/vm-pci I've created the repo.

[2022-03-07 20:55] mathieupoirier opened #128 "Where should the xen-sys crate be hosted?"
Following a discussion that happened during March 7th 2022's rust-vmm sync meeting, I am opening this issue to gather input on where the [xen-sys crate](https://crates.io/crates/xen-sys) should be hosted.  A [pull request ](https://gitlab.com/cardoe/oxerun/-/merge_requests/4) that provides support for aarch64 is currenlty pending and more work is under way to add ioctl() call support.  This will p

[2022-03-09 20:22] mathieupoirier commented on #128
At this time the crate is compilation tested for X86_64 and does not have any #[cfg(test)] section.  On the flip side this crate is _very_ hardware oriented and adding function tests that is inline with what is done for other creates under the rust-vmm umbrella might be difficult.  I am mainly enhancing the aarch64 architecture and testing that requires a platform that is supported by Xen or QEMU.

[2022-03-10 07:59] andreeaflorescu commented on #128
I can take a look to see how we can add some testing if it's useful. Did you discuss with the maintainer of the crate? Is this something that we would want to make part of rust-vmm?

[2022-03-10 20:23] mathieupoirier commented on #128
I will gladly take you up on your offer to look at how testing can be enhanced for this crate.  But for now I sugget to hold back on that until we have a clear view of where this crate should be hosted.  I need to discuss with the Xen community and get in contact with the maintainer, which I haven't been able to reach since early January.  I will keep you posted.

[2022-03-16 11:03] dwmw2 commented on #128
I'm very interested in the Rust definitions of the Xen hypercall ABI but not for *calling* them; for *implementing* them. Linux/KVM now has support for hosting Xen guests, and the VMM is expected to implement the Xen hypercalls. We made a start on this at https://github.com/alexandruag/vmm-reference/commits/xen

[2022-03-21 12:51] fabianpatras opened #129 "Crate Addition Request Apple Hypervisor Bindings"
## Crate Name: apple-hv-bindings
Very much open to suggestions
## Short Description
There is this public repo: https://github.com/cloud-hypervisor/hypervisor-framework maintained by @sameo and @mxpv that adds wrappers around the [Apple Hypervisor API](https://developer.apple.com/documentation/hypervisor?language=objc).

This crate provides primitives needed for creating and managing VMs and vCPUs

[2022-03-21 12:58] sameo commented on #129
@fabianpatras Could you elaborate on what would this crate provide on top of the `hypervisor-framework` one?

[2022-03-21 15:04] fabianpatras commented on #129
@sameo That is right, I'm only suggesting moving it from cloud-hypervisor org to the rust-vmm one. I just want to see your (cloud-hypervisor and rust-vmm people) opinions on this.

I intend to use [it](https://github.com/cloud-hypervisor/hypervisor-framework) for my diploma project ("rust-based vmm for macos") and I thought that it will be a great fit in rust-vmm organisation similarly to kvm and

[2022-07-11 03:23] wllenyj opened #131 "Proposal: Improve Cargo dependency format"
The crates in rust-vmm use `>=` [comparison-requirements](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#comparison-requirements) to specify specific dependencies. This places a significant maintenance burden on the user who uses it.

This issue is the same as [vm-memory issues](https://github.com/rust-vmm/vm-memory/issues/199).

## Problem
We use `vm-memory` as an example

[2022-07-27 19:18] rminnich opened #132 "Access Request to rust-vmm"

[2022-08-10 11:33] vireshk opened #133 "Crate Addition Request: vhost-user-master"
## Crate Name
vhost-user-master

## Short Description
Crate to manage vhost-user-master side of the protocol.

## Why is this crate relevant to the rust-vmm project?
I already host a crate for this, but need space in rust-vmm now.

https://github.com/vireshk/vhost-user-master

The code here is mostly copied from cloud-hypervisor and so is relevant for rust-vmm for sure.

We, at Linaro's Project St

[2022-08-16 09:32] andreeaflorescu commented on #133
Does it make sense for this to be in the same workspace with vhost-user-backend?

[2022-08-16 09:38] vireshk commented on #133
I am fine with it, and it may be better to keep related things together. While at it, maybe we could have had vhost, vhost-user-backend and vhost-user-master together in the same workspace.

[2022-08-16 14:12] andreeaflorescu commented on #133
Sounds good to me! We would need to create a workspace, and move the existing crates there, and then add this one as a crate as well. @slp @stefano-garzarella @jiangliu @sboeuf @rbradford do you have any concerns with this?

[2022-08-17 05:42] vireshk commented on #133
The code I am carrying right now is copied from cloud hypervisor itself, almost unmodified (very small changes made in a separate patch).

[2022-08-17 05:47] vireshk commented on #133
Great. I will wait for it.

[2022-08-17 07:48] andreeaflorescu commented on #133
Could you take that work as part of upstreaming this? We don't have time to invest in converting the vhost based crates in a workspace right now.

[2022-08-17 07:50] sboeuf commented on #133
Yes I understand and I know it would be easy to rely on it at first, but I'm worried that with time the code will change and that it might be complicated to apply patches and fixes. The point is, I'm not sure there's added value in having this code into a crate and I'd rather keep it inside Cloud Hypervisor. But it's totally fine if you want to create a new crate from this code if you think this i

[2022-08-29 08:33] stefano-garzarella commented on #133
Yep, I agree with the re-naming. Following the updated [spec](https://qemu.readthedocs.io/en/latest/interop/vhost-user.html) where we now use `front-end` and `back-end`, what about `vhost-user-frontend`?

[2022-09-01 13:57] blitz opened #134 "Signed-off-by Requirement: What do you sign off on?"
Contributions require commits to have a `Signed-off-by:` line, but I could find no documentation on what this specifically means in the rust-vmm context.

To quote the `git commit` man page:

[code]

So what do we sign off when we contribute to rust-vmm? This is especially important for contributors from companies, because they may or may not be able to contribute depending on what they are asked

[2022-11-10 13:48] andreeaflorescu opened #135 "Enable dependabot for automatic Rust dependency updates"
We are now moving to caret dependencies for rust-vmm crates. More context here (https://github.com/rust-vmm/vm-memory/issues/199) about the reason.

We need to automatically update dependencies so that we don't have to do it manually when a new rust-vmm crate is released. The crates that generate lots of other updates are vmm-sys-util and vm-memory because they're used in lots of places.

The next

[2022-11-10 13:54] andreeaflorescu opened #136 "Manual update dependencies in rust-vmm crates - and provide releases"
This update is needed because otherwise there will be crates using vmm-sys-util 0.10.0 and others using 0.11.0. The reason behind this is the (wrong) way in which we specify dependencies in a few of the rust-vmm crates. Specifically, some crates will just pick up the latest available version of a crate even if it introduces breaking changes (i.e. picking up 0.11.0 because the dep is specified as `

[2022-11-10 13:57] roypat commented on #136
I went through all of the rust-vmm crates and created the following table that keeps track of all their dependencies and whether they currently rely on (a) non-caret requirements and (b) outdated versions

|Crate	|Version	|Uses caret deps?	|rust-vmm deps at fixed versions (outdated are bold)	|rust-vmm deps at non-caret versions	|
|---	|---	|---	|---	|---	|
|kvm-ioctl	|0.11.0	|yes	|**vmm-sys-util@0

[2022-11-10 14:00] roypat commented on #136
Going through the dependency graph, updates need to be done in the following order (all crates on the same level can be updated in parallel):
1. vm-superio, vm-memory and kvm-bindings, event-manager
2. vhost, vm-superio-ser, virtio-queue, virtio-blk, kvm-ioctl
3. vm-vhost-user-backend, the various `vhost-*`, `vfio-*` and `mshv-*` crates

[2022-11-10 14:19] andreeaflorescu commented on #136
Based on @roypat's analysis, we need to go through 3 stages (corresponding to the number list above).

## Stage 1

### vm-superio
Changes Needed:
- move to caret dependency
- release

Owner: N/A

Blocks: vm-superio-ser

### vm-superio-ser
Changes Needed:
- move to caret dependency
- release

Owner: N/A

Blocks: N/A

### event-manager
Changes Needed:
- move to caret dependency
- release

Owner: @ch

[2022-11-10 16:21] roypat commented on #136
At this point, all stage 1 crates have PRs open fixing this issues. Next step is their crates.io release, so we can start working on the Step 2 crates.

[2022-11-10 19:56] aghecenco commented on #136
kvm-bindings v0.7.0 is released :white_check_mark:
event-manager CI is repeatedly failing with a strange permissions issue on a local dir (seemingly unrelated to these releases, more likely a Buildkite thing and one more problem to fix)

[2022-11-11 09:35] studychao commented on #136
Is that v0.6.0 or a newer version of kvm-bindings is planned to release?

[2022-11-11 09:37] andreeaflorescu commented on #136
It is 0.6.0.

[2022-11-11 11:48] andreeaflorescu commented on #136
## Stage 2

### vm-superio-ser - DONE

### kvm-ioctls
- update vmm-sys-util  @roypat  - DONE
- release - @roypat  - DONE
- publish release @andreeaflorescu - WIP

### virtio-queue
- update dependencies (vmm-sys-util) - TBD owner
- release - TBD owner
- publish release - TBD owner

TBD - more crates need to be tracked

[2022-11-14 18:16] wllenyj commented on #136
![image](https://user-images.githubusercontent.com/8768126/201735655-44766f5d-13f2-455f-a020-59c5d3fce523.png)

[2022-11-29 10:29] rbradford commented on #136
I know that a release is missing for (at least) vhost-user-backend.

[2022-11-29 13:55] andreeaflorescu opened #137 "CI - timeouts"
Recently tests are taking a really long time to finish (i.e. more than 5 minutes). Because of this the CI for various components is blocked and tests appear as failed because of timeout.

We did not yet identify a root cause, but so far this seems to be the case with all the CI hosts (including the ones running MSHV).

Some issues that we are aware of are:
- rustvmm/dev container uses a very old l

[2022-11-30 10:11] vireshk commented on #137
@andreeaflorescu can we increase the timeout in CI to, lets say, 10-15 minutes ? So they don't time out ? At least until the issue is fixed ?

[2022-11-30 11:01] andreeaflorescu commented on #137
@vireshk yes, we can do that. I have a PR that fixes some other things (https://github.com/rust-vmm/rust-vmm-ci/pull/116) as well that might be causing the timeout, I will try my best to get it ready by the end of the day. In any case, in the same PR I will also be increasing the timeout until we figure out what is going on.

[2022-11-30 11:05] rbradford commented on #136
This is all done now. Thanks to @stefano-garzarella. `vfio-ioctls` & `vfio-bindings` remain along with some of the virtio backend devices.

[2022-11-30 11:12] andreeaflorescu commented on #136
@jiangliu @liuw @sameo @sboeuf can one of you take care of the two crates as well? What is important is properly setting the crate requirements to caret (if they have any that are not properly specified), and provide a release.

[2022-11-30 14:19] andreeaflorescu commented on #137
The problem might be related to the host on which the CI is running. The problem seems oddly similar to the one reported here: https://lore.kernel.org/lkml/Y38h9oe4ZEGNd7Zx@quatroqueijos.cascardo.eti.b/T/#m3efc3916c892c9cca270d3ef6bfea780a2033c8e.

What is strange though is that we are not using Linux 5.4, but Linux 5.15 on Ubuntu. This needs further investigation.

[2022-11-30 15:42] andreeaflorescu commented on #137
We temporarily increased the CI timeout per test to 15 minutes, this hopefully is enough to stop seeing the failures. To see the change in timeout, rust-vmm-ci needs to be updated. Updating rust-vmm-ci submodule is done weekly/monthly by dependabot. In case you want to do it manually, you can follow the runbook here: https://github.com/rust-vmm/community/blob/main/CONTRIBUTING.md#updating-the-rust